*{
    direction: rtl;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    background: #DDD;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}
p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
label {
    margin: 0;
    display: block;
    font-size: 16px
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}



.error{
    color: red;
}
.center{
    display: flex;
    justify-content: center;
}

.uploadResultsPanel{
    text-align: center;
    padding-bottom: 10px;
}

/*MODAL*/
.modal-body{
    text-align: center;
    width: auto;
    /*overflow-y: auto*/
}

#box{
    position: relative;
    margin: 0px auto 5%;
    width: 80%; /*950px;*/
    height: 100%;
    padding: 40px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.flexBox{
    display: flex;
}

.scrollablePanel{
    direction: ltr;
    /* overflow-y: scroll; */
    /* height: 400px; */
    /*border-style: solid;*/
    /*width: 200px;*/
}

.left {
    /*position: absolute;*/
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    /*width: 500px;*/
    height: 400px;
}
.right {
    /*position: absolute;*/
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 900px;
    /*height: 400px;*/
    /*background: url('https://goo.gl/YbktSj');*/
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.radioDiv{
    height: 45px;
    padding: 10px 0px;
}
.radioInput{
    padding: 0px 35px 0px 20px;
    text-align: initial;
    float: right;
    width: 120px;
}
.timedateDiv{
    /*padding: 0px 35px 0px 0px;*/
    display: inline-flex;
}


a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
.radio_label{
    display: initial;
    font-weight: initial;
}

/***FORM***/
form {
    width: 100%;
    direction: rtl;
    font-size: 16px;
    text-align: right;
}
.centered-form {
    width: 390px;
    margin: auto;
    text-align: initial;
}

/***LABEL***/
.labelForInput100{
    padding: 10px 35px;
    width: 250px;
}

.flexCenteredDiv{
    display: flex;
    position: relative;
    align-items: center;
}

#loading-bar-container{
    text-align: center;
    color: #29d;
    font-size: 12px;
}
/*#loading-bar .bar {*/
/*    background: red;*/
/*    width:  50%;*/
/*}*/

.iframeFile{
    width: 550px;
    height: 220px;
}

.verticalLine {
    border-left: 1px solid lightgrey;
}
.threePartsScreenDiv{
    text-align: center;
    width: 33%;
    padding: 10px;
}
.centerButTextRight{
    text-align: right;
    justify-content: center;
    display: grid;
}

