*{
    direction: rtl;
}
*:focus {
    outline: none;
}

.error{
    color: red;
}
.center{
    display: flex;
    justify-content: center;
}

.uploadResultsPanel{
    text-align: center;
    padding-bottom: 10px;
}

/*MODAL*/
.modal-body{
    text-align: center;
    width: auto;
    /*overflow-y: auto*/
}

#box{
    position: relative;
    margin: 0px auto 5%;
    width: 950px; /*700px;*/
    height: 100%;
    padding: 40px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.scrollablePanel{
    direction: ltr;
    /* overflow-y: scroll; */
    /* height: 400px; */
    /* border: black; */
    /* border-width: 2px; */
    border-style: solid;
    width: 200px;
}
