*{
    direction: rtl;
}

.error{
    color: red;
}

/*MENU*/
.menu {
    width: 90%;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 0px;
}
#greeting{
    margin-bottom: 0px;
    font-size: 13px;
    color: white;
}
#menuRow{
    display: flex;
    background: #1565c0;
}
#managerMenu{
    background: #1e88e5;
    margin: 2px 0px 2px 0px;
}
.menuItem{
    color: white;
    min-width: 100px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}
#menuRow .menu li:not(:last-child):after{
     content: "|";
     color: #B0BEC5;
     top: 0;
 }
.menuItem:hover:not(.active) {
    background-color: #5e92f3;/*#BABDD1;/*#D6BCD4;*/
    color: black;
}

.menuItem.active {
    background-color: #5e92f3;/*#BABDD1;/*#D6BCD4;*/
    color: black;
    text-decoration: none;
}
.link{
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #CFD8DC;
    text-decoration: underline;
}
.link:hover{
    color: white;
    text-decoration: underline;
}
.dropdown{
    font-family: Poppins-Regular;
    line-height: 1.7;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
    color: #1e88e5;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .menuItem {
    background-color: #5e92f3;/*#BABDD1;/*#D6BCD4;*/
    color: black;
}

/*MODAL*/
.modal-body{
    text-align: center;

}
.modalInput {
    position: relative;
    margin: auto;
    width: 100%;
}
.modalLabel{
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.modalBorder{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.changePassInput{
    width: 300px;
    margin-right: 100px;
}

