input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}
textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: black;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}


.changePassInput{
    width: 300px;
    margin-right: 100px;
}

input[type=date]{
    -webkit-appearance: none;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.wrap-input100 {
    /*width: 100%;*/
    position: relative;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

.update-input{
    position: relative;
    border-bottom: 1px solid lightgrey;
}
.update-input100{
    font-size: 16px;
    line-height: 1.2;
    display: block;
    width: fit-content;
    height: 30px;
    background: transparent;
    /*padding: 0 38px 0 5px;*/
}
.input100 {
    font-size: 16px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 38px 0 5px;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #599bb3;
}
.downloadLink .focus-input100::after {
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
    padding-top: 0px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
/*.input100:focus {*/
/*    padding-left: 5px;*/
/*}*/
/*.input100:focus + .focus-input100::after {*/
/*    top: -22px;*/
/*    font-size: 18px;*/
/*}*/
.input100:focus + .focus-input100::before {
    width: 100%;
}

.focus-input100::after {
    content: attr(data-symbol);
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    /*left: 0;*/
    padding-left: 13px;
    padding-top: 3px;
}
.input100:focus + .focus-input100::after {
    color: #599bb3;
}
.label-input100 {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    /*float: right;*/
}
