

.linkLight{
    font-size: 14px;
    line-height: 1.5;
    color: #DDD;/*#CFD8DC;*/
    text-decoration: underline;
}
.linkLight:hover{
    color: #CFD8DC;
    font-weight: bold;
    text-decoration: underline;
}

.downloadLink *{
    color: #276873;/*#CFD8DC;*/
}
.downloadLink:hover *{
    color: #408c99;
}
.linkDark{
    line-height: 2.7;
    color: #276873 !important;/*#CFD8DC;*/
    text-decoration: underline !important;
    font-size: initial;
    cursor: pointer;
}
.linkDark.th{
    font-size: small;
    line-height: 0;
}
.linkDark:hover, .linkDark.th:hover{
    color: #408c99 !important;
    text-decoration: underline !important;
}

.iLink{
    line-height: 2.5;
    padding-right: 10px;
    font-size: initial;
}
.iColored{
    color: #276873;
}

.stickyLink{
    position: sticky;
    top: 0;
}
