/***IMAGE***/
.profile-img img{
    width: 200px;
    height: 167px;
}
.profile-img .changeImg {
    position: relative;
    overflow: hidden;
    margin-top: -65px;
    width: 200px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .changeImg input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

/***HEADERS***/
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #408c99;
}

/***RATING***/
.proile-rating{
    /*color: #818182;*/
    margin: 5px 0px;
}
.proile-rating span{
    /*color: #495057;*/
    font-size: 15px;
    font-weight: 600;
}

/***TABS***/
.profile-head .nav-tabs{
    margin-bottom:5%;
    position: absolute;
    bottom: 0px;
    width: 700px;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #408c99;
}
.profile-head .nav-tabs .nav-link:hover:not(.active){
    color: #599bb3;
}

#facebookProfile{
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
#facebookProfile:hover {
    opacity: 0.7;
}

#facebookProfile.fa-facebook {
  background: #3B5998;
  color: white;
}

#facebookProfile.fa-instagram {
  background: #125688;
  color: white;
}
#facebookProfile.fa-link{
  background: #125688;
  color: white;
}