select {
    /*-webkit-appearance: none;*/
    /*min-width: 280px;*/
    padding: 0px 38px 0px 5px;
    border: 0;
    /*border-bottom: 1px solid #5CF9FF;*/
    letter-spacing: .15em;
    border-radius: 0;
    width: 100%;
    font-size: 16px;
    height: 45px;

}
select:focus, select:active {
    outline: 0;
    border-bottom-color: #599bb3;
}
.littleSelect{
    /*width: 150px;*/
    /*padding: 0px 10px 0px 5px;*/
    padding: 0px;
}
