table {
    width: 100%;
}
.bodyTable {
    background-color: #91ced4;
}
.bodyTable * {
    box-sizing: border-box;
}

.headerTable {
    background-color: #327a81;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.tableProfileImg {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.tableDiv {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
}
.wideTableDiv{
    width: 1000px;
}
.narrowTableDiv{
    width: 600px;
}


.tableTd, .tableTh {
    color: #2b686e;
    padding: 10px;
}
.tableTd {
    text-align: center;
    vertical-align: middle;
}
.tdLast, table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: center;
}
.tableTh {
    background-color: #daeff1;
    font-weight: 300;
    text-align: center;
}
.tableTr:nth-child(2n) {
    background-color: white;
}
.tableTr:nth-child(2n+1) {
    background-color: #edf7f8;
}

/***SEARCH***/
.searchInput {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 20px;
    border: 1px solid #575756;
    width: 300px;
    display: inline;
    cursor: pointer;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    margin: 5px 1px 3px 0px;
    /*border: 1px solid #DDDDDD;*/
}
.searchInput:focus{
    box-shadow: 0 0 5px #327a81;
    margin: 5px 1px 3px 0px;
    border: 1px solid #327a81;/*rgba(81, 203, 238, 1);*/
    /*border-color: #327a81;*/
}
select.searchInput{
    width: 180px;
    margin-left: 10px;
}
select.searchInput:focus{
    margin-left: 10px;
}

.clickableSearch{
    /*left: 45px;*/
    align-self: center;
    background: #DDD;
    padding: 10px;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
    width: 37px;
    /*height: 38px;*/
    border-radius: 20px;
    position: relative;
    border: 1px solid #575756;
    outline: none;
    /*box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);*/
}
.clickableSearch:hover{
    color: #327a81;
}
.squreClickable{
    border-radius: 0px;
    margin: 1px;
}


/***PAGINATION***/
ul.pagination li{
    width: auto;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    height: 38px;
    cursor: pointer;

    align-self: center;
    background: #DDD;
    position: relative;
    border: 1px solid #575756;
    outline: none;
}
ul.pagination li:hover:not(.disabled){
    background-color: #edf7f8;
}
ul.pagination li.active{
    background-color: #327a81;
}
ul.pagination li.disabled{
    color: gray;
    cursor: not-allowed;
}
ul.pagination li.numberBtn{
    width: 40px;
}
ul.pagination > li > a{
    display: contents;
}
