<head>
    <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>
</head>

<div class="modal-body">
    <h3> עריכת פרטי תחרות</h3>
    <div>
        <form class="centered-form validate-form" name="editCompetitionForm"
              ng-submit="submit(editCompetitionForm.$valid)" novalidate>
            <div class="wrap-input100 validate-input" ng-show="idCompetition"
                 ng-class="{'alert-validate' : editCompetitionForm.description.$invalid && (editCompetitionForm.description.$touched || isClicked)}"
                 data-validate="{{editCompetitionForm.description.$error.required ? 'הכנס תיאור.' : editCompetitionForm.$error.pattern ? 'הכנס תיאור בשפה העברית' : ''}}">
                <span class="label-input100">תיאור</span>
                <input class="input100" type="text" name="description" ng-model="description" placeholder="תיאור"
                       ng-required="idCompetition" ng-pattern="regex.regexHebrewAndNumbers" ng-pattern-restrict>
                <span class="focus-input100" data-symbol="&#xf207;"></span>
            </div>
            <div class="wrap-input100 validate-input" ng-show="!idCompetition"
                 ng-class="{'alert-validate' : editCompetitionForm.type.$invalid && (editCompetitionForm.type.$touched || isClicked)}"
                 data-validate="{{editCompetitionForm.type.$error.required ? 'הכנס סוג אירוע' : editCompetitionForm.$error.pattern ? 'הכנס טקסט בשפה העברית' : ''}}">
                <span class="label-input100">סוג אירוע</span>
                <input class="input100" type="text" name="type" ng-model="type" ng-required="!idCompetition"
                       ng-pattern="regex.regexHeb" ng-pattern-restrict>
                <span class="focus-input100" data-symbol="&#xf187;"></span>
            </div>
            <div class="wrap-input100 validate-input"
                 ng-class="{'alert-validate' : editCompetitionForm.location.$invalid && (editCompetitionForm.location.$touched || isClicked)}"
                 data-validate="{{editCompetitionForm.location.$error.required ? 'הכנס כתובת.' : editCompetitionForm.$error.pattern ? 'הכנס כתובת בשפה העברית' : ''}}">
                <span class="label-input100">כתובת</span>
                <input class="input100" type="text" name="location" ng-model="location" placeholder="כתובת" required
                       ng-pattern="regex.regexHebrewAndNumbers" ng-pattern-restrict>
                <span class="focus-input100" data-symbol="&#xf175;"></span>
            </div>
            <div class="wrap-input100 validate-input"
                 ng-class="{'alert-validate' : editCompetitionForm.city.$invalid && (editCompetitionForm.city.$touched || isClicked)}"
                 data-validate="{{editCompetitionForm.city.$error.required ? 'הכנס עיר' : editCompetitionForm.$error.pattern ? 'הכנס עיר בשפה העברית' : ''}}">
                <span class="label-input100">עיר</span>
                <input class="input100" type="text" name="city" ng-model="city" placeholder="עיר" required
                       ng-pattern="regex.regexHeb" ng-pattern-restrict>
                <span class="focus-input100" data-symbol="&#xf175;"></span>
            </div>
            <div class="wrap-input100 validate-input" id="sportStyle" ng-show="idCompetition"
                 ng-class="{'alert-validate' : editCompetitionForm.sportStyle.$invalid && (editCompetitionForm.sportStyle.$touched || isClicked)}"
                 data-validate="בחר ענף">
                <span class="label-input100">ענף</span>
                <div class="radioDiv">
                    <span ng-repeat="style in sportStyleEnum" class="radioInput">
                        <input type="radio" name="sportStyle" ng-model="$parent.sportStyle" ng-required="idCompetition"
                               ng-value="style.name"><label
                            class="radio_label"> {{style.name}} </label></input>
                    </span>
                </div>
                <span class="focus-input100" data-symbol="&#xf187;"></span>
            </div>
            <div class="timedateDiv">
                <div class="wrap-input100 validate-input control-group input-append"
                     ng-class="{'alert-validate' : editCompetitionForm.eventDate.$invalid && (editCompetitionForm.eventDate.$touched || isClicked)}"
                     data-validate="{{editCompetitionForm.eventDate.$error.required ? 'הכנס תאריך האירוע' : editCompetitionForm.eventDate.$error.min ? 'הוסן תאריך עבר' : ''}}"
                     show-spinners="false">
                    <span class="label-input100">תאריך האירוע</span>
                    <input class="input100" type="date" name="eventDate" ng-model="eventDate"
                           ng-change="closeRegDate=eventDate; closeRegTime=date;" placeholder="תאריך האירוע"
                           ng-min="currentDate"
                           required>
                    <span class="focus-input100" data-symbol="&#xf332;"></span>
                </div>
                <div class="wrap-input100 validate-input control-group input-append"
                     ng-class="{'alert-validate' : editCompetitionForm.evetTime.$invalid && (editCompetitionForm.evetTime.$touched || isClicked)}"
                     data-validate="{{editCompetitionForm.evetTime.$error.required ? 'הכנס שעת האירוע' : ''}}"
                     show-spinners="false">
                    <span class="label-input100">שעת האירוע</span>
                    <input class="input100" id="evetTime" type="time" name="evetTime" ng-model="evetTime"
                           placeholder="שעת האירוע" required>
                </div>
            </div>
            <div class="timedateDiv" ng-show="idCompetition">
                <div class="wrap-input100 validate-input control-group input-append"
                     ng-class="{'alert-validate' : editCompetitionForm.closeRegDate.$invalid && (editCompetitionForm.closeRegDate.$touched || isClicked)}"
                     data-validate="{{editCompetitionForm.closeRegDate.$error.required ? 'הכנס תאריך סגירת הרישום' : editCompetitionForm.closeRegDate.$error.min ? 'הוזן תאריך עבר' : editCompetitionForm.closeRegDate.$error.max ? 'סגירת הרישום לא יכולה להתבצע לאחר תאריך התחרות' : ''}}"
                     show-spinners="false">
                    <div>
                        <span class="label-input100">תאריך סגירת הרישום</span>
                        <input class="input100" type="date" name="closeRegDate" ng-model="closeRegDate"
                               placeholder="תאריך סגירת הרישום" ng-min="currentDate" ng-max="eventDate" ng-required="idCompetition">
                        <span class="focus-input100" data-symbol="&#xf332;"></span>
                    </div>
                </div>
                <div class="wrap-input100 validate-input control-group input-append"
                     ng-class="{'alert-validate' : editCompetitionForm.closeRegTime.$invalid && (editCompetitionForm.closeRegTime.$touched || isClicked)}"
                     data-validate="{{editCompetitionForm.closeRegTime.$error.required ? 'הכנס שעת סגירת הרישום' : ''}}"
                     show-spinners="false">
                    <div>
                        <span class="label-input100">שעת סגירת הרישום</span>
                        <input class="input100" type="time" name="closeRegTime" ng-model="closeRegTime"
                               placeholder="שעת סגירת הרישום" ng-required="idCompetition">
                    </div>
                </div>
            </div>
         <div style="text-align: center">
            <input type="submit" class="" name="updateDetails" ng-click="isClicked=true" value="עדכן"/>
            <input type="button" class="btnSubmit" name="cancelUpdate" ng-click="closeModal()" value="ביטול"/>
         </div>
        </form>
    </div>
</div>

