<head>
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>
</head>

<div class="modal-body">
    <h1>הוספת קטגוריה חדשה</h1>
    <form class="centered-form validate-form" name="addCategoryForm" ng-submit="submit(addCategoryForm.$valid)"
          novalidate>
        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : addCategoryForm.categoryName.$invalid && (addCategoryForm.categoryName.$touched || isClicked)}"
             data-validate="{{addCategoryForm.categoryName.$error.required ? 'הכנס שם.' : addCategoryForm.$error.pattern ? 'הכנס שם בשפה העברית' : ''}}">
            <span class="label-input100">שם הקטגוריה</span>
            <input class="input100" type="text" name="categoryName" ng-model="categoryName" ng-required="true">
            <span class="focus-input100" data-symbol="&#xf25d;"></span>
        </div>

        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : addCategoryForm.minAge.$invalid && (addCategoryForm.minAge.$dirty || isClicked)}"
             data-validate="{{addCategoryForm.minAge.$error.required ? 'הכנס גיל מינימאל.' : (addCategoryForm.minAge.$error.min || addCategoryForm.minAge.$error.max) ? 'גיל מיניאלי אינו תקין' : ''}}"
             style="width: 200px;">
            <span class="label-input100">גיל מינימאלי</span>
            <input class="input100" type="number" name="minAge" ng-model="minAge" ng-required="true" ng-min="0"
                   ng-max="maxAge">
            <span class="focus-input100" data-symbol="&#xf25d;"></span>
        </div>

        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : addCategoryForm.maxAge.$invalid && (addCategoryForm.maxAge.$dirty || isClicked)}"
             data-validate="{{addCategoryForm.maxAge.$error.required ? 'הכנס גיל מקסימאלי.' : (addCategoryForm.maxAge.$error.min || addCategoryForm.maxAge.$error.max) ? 'גיל מקסימאלי אינו תקין' : ''}}"
             style="width: 200px;">
            <span class="label-input100">גיל מקסימאלי</span>
            <input class="input100" type="number" name="maxAge" ng-model="maxAge" ng-required="true" ng-min="minAge"
                   ng-max="100">
            <span class="focus-input100" data-symbol="&#xf25d;"></span>
        </div>

        <div class="wrap-input100 validate-input" id="sexUser"
             ng-class="{'alert-validate' : addCategoryForm.selectedSex.$invalid && (addCategoryForm.selectedSex.$touched || isClicked)}"
             data-validate="בחר מין">
            <span class="label-input100">מין</span>
            <div class="radioDiv">
                <span ng-repeat="sex in sexEnum" class="radioInput">
                        <input type="radio" name="selectedSex" ng-model="$parent.selectedSex" ng-value="sex.name"><label
                        class="radio_label"> {{sex.name}} </label></input>
                    </span>
                <span class="radioInput">
                <input type="radio" ng-model="selectedSex" ng-required="!selectedSex" value="מעורב">
                <label class="radio_label"> מעורב </label></input>
                    </span>
            </div>
            <span class="focus-input100" data-symbol="&#xf211;"></span>
        </div>

        <div style="text-align: center">
            <input type="submit" name="addCategory_submit" ng-click="isClicked=true" value="הוסף קטגוריה"/>
            <input class="btnSubmit" type="button" name="addCategory_cancel" ng-click="closeModal()" value="ביטול"/>
        </div>
    </form>
</div>