<link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>

<div class="modal-body">
    <h1>הוספת קטגוריה חדשה</h1>
    <form class="openComp-form validate-form" name="addCategoryForm" ng-submit="submit(addCategoryForm.$valid)" novalidate>
        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : addCategoryForm.categoryName.$invalid && (addCategoryForm.categoryName.$touched || isClicked)}"
             data-validate="{{addCategoryForm.categoryName.$error.required ? 'הכנס שם.' : addCategoryForm.$error.pattern ? 'הכנס שם בשפה העברית' : ''}}">
            <input class="input100" type="text" name="categoryName" ng-model="categoryName" placeholder="שם הקטגוריה"
                   ng-required="true">
        </div>

        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : addCategoryForm.minAge.$invalid && (addCategoryForm.minAge.$touched || isClicked)}"
             data-validate="{{addCategoryForm.minAge.$error.required ? 'הכנס גיל מינימאל.' : addCategoryForm.$error.pattern ? 'הכנס גיל מינימאלי' : ''}}"
             style="width: 200px;">
            <input class="input100" type="number" name="minAge" ng-model="minAge" placeholder="גיל מינימאלי"
                   ng-required="true">
        </div>

        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : addCategoryForm.maxAge.$invalid && (addCategoryForm.maxAge.$touched || isClicked)}"
             data-validate="{{addCategoryForm.maxAge.$error.required ? 'הכנס גיל מקסימאלי.' : addCategoryForm.$error.pattern ? 'הכנס גיל מקסימאלי' : ''}}"
             style="width: 200px;">
            <input class="input100" type="number" name="maxAge" ng-model="maxAge" placeholder="גיל מקסימאלי"
                   ng-required="true">
        </div>

        <div class="wrap-input100 validate-input radioDiv" id="sexUser"
             ng-class="{'alert-validate' : addCategoryForm.selectedSex.$invalid && (addCategoryForm.selectedSex.$touched || isClicked)}"
             data-validate="בחר מין">
            <label>בחר מין</label>
            <span ng-repeat="sex in sexEnum">
                <input type="radio" name="selectedSex" ng-model="$parent.selectedSex" ng-required="!selectedSex" ng-value="sex.name"><label
                    class="radio_label"> {{sex.name}} </label></input>
            </span>
            <input type="radio" ng-model="selectedSex" ng-required="!selectedSex" value="מעורב"><label
                class="radio_label"> מעורב </label></input>
        </div>

        <input type="submit" name="addCategory_submit" ng-click="isClicked=true" value="הוסף קטגוריה"/>
        <input class="btnSubmit" type="button" name="addCategory_cancel" ng-click="closeModal()" value="ביטול"/>

    </form>
</div>