<head>
    <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>
</head>
<div class="modal-body">
    <img src="resources/images/icon.png" width="100px" height="100px">
    <h1>ברוכים הבאים!</h1>
    <h4>אנא החלף את סיסמתך הראשונית</h4>
    <span ng-show="error!=''" class="error">
        {{error}}
    </span>

    <form class="login100-form validate-form" name="loginForm" novalidate>
        <div class="changePassInput wrap-input100 validate-input "
             ng-class="{'alert-validate' : loginForm.password1.$invalid && isClicked}"
             data-validate="{{loginForm.password1.$error.required ? 'הכנס סיסמא' : (loginForm.password1.$error.minlength || loginForm.password1.$error.maxlength ? 'הסיסמא חייבת להיות בין 3 ל-10 תוים' : '')}}">
            <span class="label-input100">סיסמא חדשה</span>
            <input class="input100" type="password" name="password1" ng-model="password1" ng-minlength="3" ng-maxlength="10" ng-required="true">
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <div class="wrap-input100 validate-input changePassInput"
             ng-class="{'alert-validate' : loginForm.password2.$invalid && isClicked}"
             data-validate="{{loginForm.password2.$error.required ? 'הכנס סיסמא' : (loginForm.password2.$error.minlength || loginForm.password2.$error.maxlength ? 'הסיסמא חייבת להיות בין 3 ל-10 תוים' : '')}}">
            <span class="label-input100">שנית סיסמא חדשה</span>
            <input class="input100" type="password" name="password2" ng-model="password2" ng-minlength="3" ng-maxlength="10" ng-required="true">
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>
        <button class="btn btn-primary" ng-click="changePass(loginForm.$valid)">החלף</button>
    </form>
</div>