<link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="styles.css">

<div class="modal-body">
    <h1>ברוכים הבאים!</h1>
    <h4>אנא החלף את סיסמתך הראשונית</h4>
    <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : loginForm.username.$invalid && (loginForm.username.$dirty || isClicked)}" data-validate = "הכנס שם משתמש">
        <input class="input100" type="password" name="password1" ng-model="password1" placeholder="הקלד סיסמא חדשה" required>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : loginForm.password.$invalid && (loginForm.password.$dirty || isClicked)}" data-validate="הכנס סיסמא">
        <input class="input100" type="password" name="password2" ng-model="password2" placeholder="הקלד שנית את הסיסמא החדשה" required>
        <span class="focus-input100"></span>
    </div>
    <button class="btn btn-primary" ng-click="changePass()">החלף</button>
</div>