<head>
    <link rel="stylesheet" type="text/css" href="./css/userTableCSS.css">
</head>
<body class="bodyTable">

<div class="center">
    <div>
        <input class="searchInput" type="text" placeholder="חפש..." ng-model="searchText">
        <button ng-click="setPagAe(1)">
            <i class="fa fa-search clickableSearch" style="left: 45px" aria-hidden="true"></i>
        </button>
    </div>
    <div>
        <select class="searchInput" name="sportStyle" ng-model="selectedsportStyle" ng-options="x.name for x in sportStyle" ng-change="setPage(1)">
            <option value="">כל הענפים</option>
        </select>
        <button>
            <i ng-model="isToDesc"
               ng-class="isToDesc ? 'fa fa-sort-alpha-desc clickableSearch' : 'fa fa-sort-alpha-asc clickableSearch'"
               ng-click="isToDesc = !isToDesc; setPage(1)" ng-change="setPage(1)" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="table-users" style="width: 1000px">
    <div class="headerTable">{{headerTable}}</div>
    <table class="tableUser" cellspacing="0">
        <tr>
            <th>מספר תחרות</th>
            <th>ענף ספורט</th>
            <th>תאריך התחרות</th>
            <th>תאריך סגירת הרישום</th>
            <th>סטאטוס</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="competition in competitions">
            <td>{{competition.idCompetition}}</td>
            <td>{{competition.sportStyle}}</td>
            <td>{{competition.date | date: "dd.MM.yyyy" }}</td>
            <td>{{competition.closeRegDate |date : "dd.MM.yyyy"}}</td>
            <td>{{competition.status}}</td>
            <td>
                <button class="linkdark" ng-click="watchCompDetails(competition.idCompetition)"> פרטי תחרות</button>
            </td>
            <td>
                <button class="linkdark" ng-click="watchProfile(user.id)">רישום ספורטאים</button>
            </td>
        </tr>
    </table>
</div>
<div class="center">
    <!-- pager -->
    <ul ng-if="pager.pages.length" class="pagination">
        <li ng-class="{'disabled':pager.currentPage === 1}">
            <a ng-click="setPage(1)">ראשון</a>
        </li>
        <li ng-class="{'disabled':pager.currentPage === 1}">
            <a ng-click="setPage(pager.currentPage - 1)">הקודם</a>
        </li>
        <li ng-repeat="page in pager.pages" ng-class="{'numberBtn' : true, 'active' : pager.currentPage===page}" ng-click="setPage(page)">
            {{page}}
        </li>
        <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.currentPage + 1)">הבא</a>
        </li>
        <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.totalPages)">אחרון</a>
        </li>
    </ul>
</div>
</body>
