<body class="bodyTable">

<div class="center">
    <div ng-init="searchClicked=false">
        <input class="searchInput" type="text" placeholder="חפש לפי מיקום..." ng-model="searchText" ng-change="searchClicked=false">
        <button ng-click="setPage(1); searchClicked=true" ng-show="searchClicked==false">
            <i class="fa fa-search clickableSearch" style="left: 45px" aria-hidden="true"></i>
        </button>
        <button ng-click="searchText=''; setPage(1); searchClicked=false" ng-show="searchClicked==true">
            <i class="fa fa-times clickableSearch" style="left: 45px" aria-hidden="true"></i>
        </button>
    </div>
    <div>
        <select class="searchInput" name="sportStyle" ng-model="selectedsportStyle" ng-options="x.name for x in sportStyles" ng-change="setPage(1)">
            <option value="">כל הענפים</option>
        </select>
        <select class="searchInput" ng-show="isShowStatus" name="status" ng-model="selectedStatus" ng-options="x.name for x in compStatus" ng-change="setPage(1)">
            <option value="">כל הסטטוסים</option>
        </select>
    </div>
</div>

<div class="tableDiv wideTableDiv">
    <div class="headerTable">{{headerTable}}</div>
    <table class="tableUser" cellspacing="0">
        <tr class="tableTr">
            <th class="tableTh">מספר תחרות</th>
            <th class="tableTh">ענף ספורט</th>
            <th class="tableTh"> תאריך התחרות</th>
            <th class="tableTh">תאריך סגירת הרישום</th>
            <th class="tableTh" ng-show="isShowStatus">סטאטוס</th>
            <th class="tableTh"><i class="fa fa-eye" aria-hidden="true"></i></th>
            <th class="tableTh"></th>
            <th class="tableTh"></th>
            <th class="tableTh"></th>
        </tr >
        <tr class="tableTr" ng-repeat="competition in competitions">
            <td class="tableTd">{{competition.idCompetition}}</td>
            <td class="tableTd">{{competition.sportStyle}}</td>
            <td class="tableTd">{{competition.date | date: "dd.MM.yyyy" }}</td>
            <td class="tableTd">{{competition.closeRegDate |date : "dd.MM.yyyy"}}</td>
            <td class="tableTd" ng-show="isShowStatus">{{competition.status}}</td>
            <td class="tableTd tdLast">
                <button class="linkDark" ng-click="watchCompDetails(competition.idCompetition)"> פרטי תחרות</button>
            </td>
            <td class="tableTd tdLast">
                <button class="linkDark" ng-show="competition.status == 'פתוח'" ng-click="editCompetitionDetails(competition.idCompetition)"> ערוך פרטי תחרות</button>
            </td>
            <td class="tableTd tdLast" >
                <button ng-show="competition.status == 'פתוח' " class="linkDark" ng-click="regSportsman(competition.idCompetition)">רישום</button>
                <button ng-show="competition.status == 'סגור' " class="linkDark" ng-click="">תוצאות</button>
            </td>
            <td class="tableTd tdLast" >
                <button ng-show="competition.status == 'פתוח'" class="linkDark" ng-click="registrationState(competition.idCompetition)">מצב הרישום</button>
            </td>
        </tr >
    </table>
</div>
<div class="center" ng-show="pager.totalPages>1">
    <!-- pager -->
    <ul ng-if="pager.pages.length" class="pagination">
        <li ng-class="{'disabled':pager.currentPage === 1}">
            <a ng-click="setPage(1)">ראשון</a>
        </li>
        <li ng-class="{'disabled':pager.currentPage === 1}">
            <a ng-click="setPage(pager.currentPage - 1)">הקודם</a>
        </li>
        <li ng-repeat="page in pager.pages" ng-class="{'numberBtn' : true, 'active' : pager.currentPage===page}" ng-click="setPage(page)">
            {{page}}
        </li>
        <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.currentPage + 1)">הבא</a>
        </li>
        <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.totalPages)">אחרון</a>
        </li>
    </ul>
</div>
</body>
