<link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>

<div class="modal-body">
   <h3> עריכת פרטי תחרות</h3>
   <div>
      <form class="editCompetition validate-form" name="editCompetitionForm" ng-submit="submit(editCompetitionForm.$valid)" novalidate>
        <table>
           <tr>
              <td><label>תיאור:</label></td>
              <td>
                 <div class="wrap-input100 validate-input"
                      ng-class="{'alert-validate' : editCompetitionForm.description.$invalid && (editCompetitionForm.description.$touched || isClicked)}"
                      data-validate="{{editCompetitionForm.description.$error.required ? 'הכנס תיאור.' : editCompetitionForm.$error.pattern ? 'הכנס תיאור בשפה העברית' : ''}}">
                    <input class="input100" type="text" name="description" ng-model="description" placeholder="תיאור"
                           ng-required="true" ng-pattern="/^[\u0590-\u05fe _]*[\u0590-\u05fe][\u0590-\u05fe _]*$/">
                 </div>
              </td>
           </tr>
           <tr>
              <td><label>כתובת:</label></td>
              <td>
                 <div class="wrap-input100 validate-input"
                      ng-class="{'alert-validate' : editCompetitionForm.location.$invalid && (editCompetitionForm.location.$touched || isClicked)}"
                      data-validate="{{editCompetitionForm.location.$error.required ? 'הכנס כתובת.' : editCompetitionForm.$error.pattern ? 'הכנס כתובת בשפה העברית' : ''}}">
                    <input  class="input100" type="text" name="location" ng-model="location" placeholder="כתובת" required ng-pattern="/^[\u0590-\u05fe0-9 _]*[\u0590-\u05fe0-9][\u0590-\u05fe0-9 _]*$/">
                 </div>
              </td>
           </tr>
           <tr>
              <td><label>עיר:</label> </td>
              <td>
                 <div class="wrap-input100 validate-input"
                      ng-class="{'alert-validate' : editCompetitionForm.city.$invalid && (editCompetitionForm.city.$touched || isClicked)}"
                      data-validate="{{editCompetitionForm.city.$error.required ? 'הכנס עיר' : editCompetitionForm.$error.pattern ? 'הכנס עיר בשפה העברית' : ''}}">
                    <input  class="input100" type="text" name="city" ng-model="city" placeholder="עיר" required ng-pattern="/^[\u0590-\u05fe _]*[\u0590-\u05fe][\u0590-\u05fe _]*$/">
                 </div>
              </td>
           </tr>
            <tr>
               <td><label>ענף:</label> </td>
            <td>
               <div class="wrap-input100 validate-input radioDiv" id="branchID"
                    ng-class="{'alert-validate' : editCompetitionForm.sportStyle.$invalid && (editCompetitionForm.sportStyle.$touched || isClicked)}"
                    data-validate="בחר ענף">
                  <input type="radio" name="sportStyle" ng-model="sportStyle" ng-required="!sportStyle" value="טאולו">
                  <label class="radio_label font-weight-normal"> טאולו </label>
                  <input type="radio" name="sportStyle" ng-model="sportStyle" ng-required="!sportStyle" value="סנדא">
                  <label class="radio_label font-weight-normal"> סנדא </label>
               </div>
            </td>
            </tr>
            <tr>
               <td><label>תאריך האירוע:</label></td>
               <td>
                  <div class="timedateDiv">
                     <div class="wrap-input100 validate-input control-group input-append radioDiv"
                          ng-class="{'alert-validate' : editCompetitionForm.eventDate.$invalid && (editCompetitionForm.eventDate.$touched || isClicked)}"
                          data-validate="{{editCompetitionForm.eventDate.$error.required ? 'הכנס תאריך האירוע' : editCompetitionForm.eventDate.$error.min ? 'הוסן תאריך עבר' : ''}}" show-spinners="false">
                        <div>
                           <input class="input100" type="date" name="eventDate" ng-model="eventDate" ng-change="regCloseDate=date; regCloseTime=date;" placeholder="תאריך האירוע" ng-min="currentDate" required>
                        </div>
                     </div>
                  </div>
               </td>
               <td><label>שעת האירוע :</label></td>
               <td>
                  <div  class="wrap-input100 validate-input control-group input-append"
                        ng-class="{'alert-validate' : editCompetitionForm.time.$invalid && (editCompetitionForm.time.$touched || isClicked)}"
                        data-validate="{{editCompetitionForm.time.$error.required ? 'הכנס שעת האירוע' : ''}}" show-spinners="false">
                     <div>
                        <input class="input100" id= 'evetTime' type="time" name="evetTime" ng-model="evetTime" placeholder="שעת האירוע" required>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td><label>תאריך סגירת הרישום</label></td>
               <td>
                  <div class="timedateDiv">
                     <div class="wrap-input100 validate-input control-group input-append radioDiv"
                          ng-class="{'alert-validate' : editCompetitionForm.closeRegDate.$invalid && (editCompetitionForm.closeRegDate.$touched || isClicked)}"
                          data-validate="{{editCompetitionForm.closeRegDate.$error.required ? 'הכנס תאריך סגירת הרישום' : editCompetitionForm.closeRegDate.$error.min ? 'הוזן תאריך עבר' : ''}}" show-spinners="false">
                        <div>
                           <input class="input100" type="date" name="closeRegDate" ng-model="closeRegDate" placeholder="תאריך סגירת הרישום" ng-min="currentDate" required>
                        </div>
                     </div>
                  </div>
               </td>
               <td><label>שעת סגירת הרישום:</label></td>
               <td>
                  <div  class="wrap-input100 validate-input control-group input-append"
                        ng-class="{'alert-validate' : editCompetitionForm.closeRegTime.$invalid && (editCompetitionForm.closeRegTime.$touched || isClicked)}"
                        data-validate="{{editCompetitionForm.closeRegTime.$error.required ? 'הכנס שעת האירוע' : ''}}" show-spinners="false">
                     <div>
                        <input class="input100" id= 'closeRegTime' type="time" name="closeRegTime" ng-model="closeRegTime" placeholder="שעת האירוע" required>
                     </div>
                  </div>
               </td>
            </tr>
        </table>


         <input type="submit" name="updateDetails" ng-click="isClicked=true" value="עדכן"/>
         <input type="button" class="btnSubmit" name="cancelUpdate" ng-click="closeModal()" value="ביטול"/>

      </form>
   </div>
</div>

