
<div>
    <div class="center">
        <img src="./resources/images/icon.png">
    </div>
    <button class="linkDark" ng-click="addNewMessage()" ng-show="access==userTypes.MANAGER"> הוסף הודעה</button>

    <div>
        <div class="ticker">
            <div class="viewport" ng-class="{moving:moving}">
                <div class="itemTicker" ng-repeat="item in myTickerItems">
                    <div class="textTickerDiv">{{item.text | limitTo: 40 }}{{item.text.length > 40 ? '...' : ''}}<button class="linkDark" style="line-height: 0" ng-show="item.text.length > 40" ng-click="showMessage(item.id)">המשך לקרא</button></div>
                    <div class="dateTickerDiv">
                        {{item.creationDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
