
<div>
    <div class="center">
        <img src="./resources/images/icon.png">
    </div>
    <button class="linkDark" ng-click="addNewMessage()" ng-show="access==userTypes.MANAGER"> הוסף הודעה</button>

    <div>
        <ul ticker timing="3000" class="ulTicker">
            <li ng-repeat="item in myTickerItems" class="liTicker">
                <div class="textTickerDiv">
                    {{item.text}}
                </div>
                <div class="dateTickerDiv">
                    {{item.creationDate}}
                </div>
            </li>
        </ul>
    </div>
</div>
