<div id="box">
    <form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img ng-src="{{user.photo}}" alt=""/>
                <div class="file btn btn-lg btn-primary" ng-show="isEditModeOn">
                    שנה תמונה
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{user.sfirstname}} {{user.slastname}}
                </h5>
                <h6>
                    {{whoAmI}}
                </h6>
                <p class="proile-rating">דירוג : <span>{{}}</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='personalData'" ng-class="{'active' : activeTag==='personalData' || activeTag===undefined}">פרטים אישיים</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='attachments'" ng-class="{'active' : activeTag==='attachments'}">קבצים מצורפים</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='compData'" ng-class="{'active' : activeTag==='compData'}">מידע תחרויות</a>
                    </li>
                    <li class="nav-item" ng-show="false">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='judgeStat'" ng-class="{'active' : activeTag==='judgeStat'}">סטטיסטיקות שיפוט</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <i class="fa fa-pencil ilink" aria-hidden="true"></i>
                <a class="linkdark link" href="" ng-click="turnOnEditMode()">ערוך פרופיל</a>
            </div>
            <div ng-show="access==userTypes.MANAGER || access==userTypes.COACH">
                <i class="fa fa-chain-broken ilink" aria-hidden="true"></i>
                <a class="linkdark link" href="">החלפת מאמן</a>
            </div>
            <div ng-show="access==userTypes.MANAGER || access==userTypes.COACH">
                <i class="fa fa-trash-o ilink" aria-hidden="true"></i>
                <a class="linkdark link" href="">מחק פרופיל</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade" ng-class="{'show' : activeTag==='personalData' || activeTag===undefined , 'active' : activeTag==='personalData' || activeTag===undefined}" id="personalData" role="tabpanel" aria-labelledby="compData">
                    <div class="row">
                        <div class="col-md-3">
                            <label>תעודת זהות</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.id}}</label>
                            <span class="wrap-input100 validate-input" ng-show="isEditModeOn">
<!--                                 ng-class="{'alert-validate' : registerForm.id.$invalid && (registerForm.id.$touched || isClicked)}"-->
                                                            <!--                                 data-validate="{{registerForm.id.$error.required ? 'הכנס ת.ז.' : (registerForm.id.$error.minlength || registerForm.id.$error.maxlength || registerForm.id.$error.pattern ? 'ת.ז. לא תקינה' : '')}}">-->
                                <br>
                                <input class="input100" type="text" name="id" ng-model="user.id" ng-minlength="9" ng-maxlength="9" ng-required="true" ng-pattern="/^(\d)+$/">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>שם פרטי</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.sfirstname}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>שם משפחה</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.slastname}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>מין</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.sex}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>תאירך לידה</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.birthdate | date : 'dd/MM/yyyy'}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>כתובת</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.address}} {{user.city}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>טלפון</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.phone}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>אימייל</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.email}}</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label>ענף</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.branch}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>מועדון ספורט</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.club}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>מאמן</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.cfirstname}} {{user.clastname}}</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'show' : activeTag==='attachments' , 'active' : activeTag==='attachments'}" id="attachments" role="tabpanel" aria-labelledby="attachments">
                    <div class="row">
                        <div class="col-md-3">
                            <label>ביטוח</label>
                        </div>
                        <div class="col-md-6">
<!--                            mabey put a preview for the attachment and the expite date, coler red when expired-->
<!--                            popup when entering the profile that the file expired-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>בדיקות רפואיות</label>
                        </div>
                        <div class="col-md-6">
<!--                            //mabey put a preview for the attachment and the expite date, coler red when expired-->
<!--                            //popup when entering the profile that the file expired-->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'show' : activeTag==='compData' , 'active' : activeTag==='compData'}" id="compData" role="tabpanel" aria-labelledby="compData">
                    <div class="row">
                        <div class="col-md-3">
                            <label>גרף התקדמות</label>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>ניצחונות אחרונים</label>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>