<div id="box">
    <form name="updateProfile" class="login100-form validate-form" ng-submit="submit(updateProfile.$valid)" novalidate>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img ng-src="{{user.photo}}" alt=""/>
                <div class="changeImg btn btn-lg btn-primary" ng-show="isEditModeOn">
                    שנה תמונה
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{::user.sfirstname}} {{::user.slastname}}
                </h5>
                <h6>
                    {{whoAmI}}
                </h6>
                <p class="proile-rating">דירוג : <span>{{6}}</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='personalData'" ng-class="{'active' : activeTag==='personalData' || activeTag===undefined}">פרטים אישיים</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='attachments'" ng-class="{'active' : activeTag==='attachments'}">קבצים מצורפים</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='compData'" ng-class="{'active' : activeTag==='compData'}">מידע תחרויות</a>
                    </li>
                    <li class="nav-item" ng-show="false">
                        <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='judgeStat'" ng-class="{'active' : activeTag==='judgeStat'}">סטטיסטיקות שיפוט</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <i class="fa fa-pencil iColored" aria-hidden="true"></i>
                <a class="linkDark iLink" href="" ng-show="!isEditModeOn" ng-click="turnOnEditMode()">ערוך פרופיל</a>
                <a class="linkDark iLink" href="" ng-show="isEditModeOn" ng-click="turnOffEditMode()">ביטול עריכת פרופיל</a>
            </div>
            <div ng-show="access==userTypes.MANAGER || access==userTypes.COACH">
                <i class="fa fa-chain-broken iColored" aria-hidden="true"></i>
                <a class="linkDark iLink" href="">החלפת מאמן</a>
            </div>
            <div ng-show="access==userTypes.MANAGER || access==userTypes.COACH">
                <i class="fa fa-trash-o iColored" aria-hidden="true"></i>
                <a class="linkDark iLink" href="" ng-click="delProfile(user.id)">מחק פרופיל</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade" ng-class="{'show' : activeTag==='personalData' || activeTag===undefined , 'active' : activeTag==='personalData' || activeTag===undefined}" id="personalData" role="tabpanel" aria-labelledby="compData">
                    <div class="row">
                        <div class="col-md-3">
                            <label>תעודת זהות</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.id}}</label>
                            <div ng-show="isEditModeOn"   class="update-input"
                                 ng-class="{'alert-validate' : updateProfile.id.$invalid && (updateProfile.id.$touched || isClicked)}"
                                 data-validate="{{updateProfile.id.$error.required ? 'הכנס ת.ז.' : (updateProfile.id.$error.minlength || updateProfile.id.$error.maxlength || updateProfile.id.$error.pattern ? 'ת.ז. לא תקינה' : '')}}">
                                <input class="update-input100" ng-disabled="true" type="text" name="id" ng-model="user.id" placeholder="ת.ז">
                                <!--ng-minlength="9" ng-maxlength="9" ng-required="true" ng-pattern="/^(\d)+$/"-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>שם פרטי</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.sfirstname}}</label>
                            <div ng-show="isEditModeOn" class="update-input"
                                 ng-class="{'alert-validate' : updateProfile.firstname.$invalid && (updateProfile.firstname.$touched || isClicked)}"
                                 data-validate="{{updateProfile.firstname.$error.required ? 'הכנס שם פרטי' : updateProfile.firstname.$error.pattern ? 'שם פרטי לא תקין' : ''}}">
                                <input class="update-input100" type="text" name="firstname" ng-model="user.sfirstname" placeholder="שם פרטי"
                                       required ng-pattern="/^[\u0590-\u05fe]+$/">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>שם משפחה</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.slastname}}</label>
                            <div ng-show="isEditModeOn" class="update-input"
                                 ng-class="{'alert-validate' : updateProfile.lastname.$invalid && (updateProfile.lastname.$touched || isClicked)}"
                                 data-validate="{{updateProfile.lastname.$error.required ? 'הכנס שם משפחה' : updateProfile.lastname.$error.pattern ? 'שם משפחה לא תקין' : ''}}">
                                <input class="update-input100" type="text" name="lastname" ng-model="user.slastname" placeholder="שם משפחה"
                                       required ng-pattern="/^[\u0590-\u05fe]+$/">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>מין</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.sex}}</label>
                            <div ng-show="isEditModeOn" class="update-input radioInput" id="sexUser"
                                 ng-class="{'alert-validate' : updateProfile.selectedSex.$invalid && (updateProfile.selectedSex.$touched || isClicked)}"
                                 data-validate="בחר מין">
                                <span ng-repeat="sex in sexEnum">
                                    <input type="radio" name="selectedSex" ng-model="user.sex" ng-required="!selectedSex" ng-value="sex.name"><label
                                        class="radio_label"> {{sex.name}} </label></input>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>תאירך לידה</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.birthdate | date : 'dd/MM/yyyy'}}</label>
                            <div ng-show="isEditModeOn" class="update-input control-group input-append"
                                 ng-class="{'alert-validate' : updateProfile.date.$invalid && (updateProfile.date.$touched || isClicked)}"
                                 data-validate="{{updateProfile.date.$error.required ? 'הכנס תאריך לידה' : updateProfile.date.$error.max ? 'תאריך לא תקין' : ''}}" show-spinners="false">
                                <input class="update-input100" type="date" name="date" ng-model="user.birthdate" placeholder="תאריך לידה" ng-max="currentDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>כתובת</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.address}} {{user.city}}</label>
                            <div ng-show="isEditModeOn" class="update-input"
                                 ng-class="{'alert-validate' : updateProfile.address.$invalid && (updateProfile.address.$touched || isClicked)}"
                                 data-validate="הכנס כתובת">
                                <input class="update-input100" type="text" name="address" ng-model="user.address" placeholder="כתובת מגורים"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>טלפון</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.phone}}</label>
                            <div ng-show="isEditModeOn" class="update-input"
                                 ng-class="{'alert-validate' : updateProfile.phone.$invalid && (updateProfile.phone.$touched || isClicked)}"
                                 data-validate="{{updateProfile.phone.$error.required ? 'הכנס פלאפון' : (updateProfile.phone.$error.minlength || updateProfile.phone.$error.maxlength || updateProfile.phone.$error.pattern ? 'פלאפון לא תקין' : '')}}">
                                <input class="update-input100" type="text" name="phone" ng-model="user.phone" placeholder="פאלפון"
                                       required ng-minlength="10" ng-maxlength="10" ng-pattern="/^(\d)+$/">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>אימייל</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.email}}</label>
                            <div ng-show="isEditModeOn" class="update-input"
                                 ng-class="{'alert-validate' : updateProfile.email.$invalid && (updateProfile.email.$touched || isClicked)}"
                                 data-validate="{{updateProfile.email.$error.required ? 'הכנס אימייל' : updateProfile.email.$error.pattern ? 'אימייל לא תקין' : ''}}">
                                <input class="update-input100" type="email" name="email" ng-model="user.email" placeholder="איימיל"
                                       required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)+$/">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label>ענף</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.sportStyle}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>מועדון ספורט</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.club}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>מאמן</label>
                        </div>
                        <div class="col-md-6">
                            <label ng-show="!isEditModeOn">{{user.cfirstname}} {{user.clastname}}</label>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" ng-class="{'show' : activeTag==='attachments' , 'active' : activeTag==='attachments'}" id="attachments" role="tabpanel" aria-labelledby="attachments">
                    <div class="row">
                        <div class="col-md-3">
                            <label>ביטוח</label>
                        </div>
                        <div class="col-md-6">
<!--                            mabey put a preview for the attachment and the expite date, coler red when expired-->
<!--                            popup when entering the profile that the file expired-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>בדיקות רפואיות</label>
                        </div>
                        <div class="col-md-6">
<!--                            //mabey put a preview for the attachment and the expite date, coler red when expired-->
<!--                            //popup when entering the profile that the file expired-->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" ng-class="{'show' : activeTag==='compData' , 'active' : activeTag==='compData'}" id="compData" role="tabpanel" aria-labelledby="compData">
                    <div class="row">
                        <div class="col-md-3">
                            <label>גרף התקדמות</label>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>ניצחונות אחרונים</label>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <input ng-show="isEditModeOn" type="submit" name="updateProfileBtn" ng-click="isClicked=true"  value="עדכן פרופיל"/>

    </form>
</div>