<head>
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
</head>
<body>
<div>
    <input type="radio" name="userType" ng-click="sportsmanRegister=false"> רישום ספורטאי</input>
    <input type="radio" name="userType" ng-click="sportsmanRegister=true"> רישום מאמן </input>
</div>
<div id="login-box">

    <div class="right" >
        <h1 ng-show="!sportsmanRegister">רישום ספורטאי</h1>
        <h1 ng-show="sportsmanRegister">רישום מאמן</h1>

<form class="login100-form validate-form" name="regSportsman" novalidate>
        <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.id.$invalid && (regSportsman.id.$dirty || isClicked)}" data-validate = "הכנס תעודת זהות">
            <input class="input100" type="text" name="id" ng-model="id" placeholder="ת.ז" required>
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
         <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.firstname.$invalid && (regSportsman.firstname.$dirty || isClicked)}" data-validate = "הכנס  שם הפרטי ">
            <input class="input100" type="text" name="firstname" ng-model="firstname" placeholder="שם פרטי" required>
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
         </div>
        <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.lastname.$invalid && (regSportsman.lastname.$dirty || isClicked)}" data-validate = "הכנס  שם המשפחה ">
            <input class="input100" type="text" name="lastname" ng-model="lastname" placeholder="שם משפחה" required>
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
        <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.email.$invalid && (regSportsman.email.$dirty || isClicked)}" data-validate = "הכנס איימיל ">
            <input class="input100" type="email" name="email" ng-model="email" placeholder="איימיל" required>
            <span class="focus-input100" data-placeholder="&#xf159;"></span>
        </div>
        <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.birthdate.$invalid && (regSportsman.birthdate.$dirty || isClicked)}" data-validate = "הכנס תאריך לידה ">
            <input class="input100" type="date" name="date" ng-model="date" placeholder="תאריך לידה" required >
            <span class="focus-input100" data-placeholder="&#xf332;"></span>
        </div>
        <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.phone.$invalid && (regSportsman.phone.$dirty || isClicked)}" data-validate = "הכנס פאלפון ">
            <input class="input100" type="text" name="phone" ng-model="phone" placeholder="פאלפון" required >
            <span class="focus-input100" data-placeholder="&#xf2b6;"></span>
        </div>
        <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.address.$invalid && (regSportsman.address.$dirty || isClicked)}" data-validate = "הכנס כתובת ">
            <input class="input100" type="text" name="address" ng-model="address" placeholder="כתובת מגורים" required >
            <span class="focus-input100" data-placeholder="&#xf175;"></span>
        </div>

    <span style="position: relative" class="focus-input100" data-placeholder="&#xf20c"></span>
    <div class="radioDiv" ng-show="!sportsmanRegister" id="sexUser" class= "validate-input" ng-class="{'alert-validate' : regSportsman.branch.$invalid && (regSportsman.branch.$dirty || isClicked)}" data-validate = "בחר מין ">
        <label class="label" for="sexUser">בחר מין</label>
        <input  type="radio" name="sex" ng-model="sex" value="זכר"  required > זכר </input>
        <input  type="radio" name="sex" ng-model="sex" value="נקבה" required > נקבה </input>
    </div>
    <span style="position: relative" class="focus-input100" data-placeholder="&#xf20c"></span>
    <div class="radioDiv"  id="branchID" class=" validate-input" ng-class="{'alert-validate' : regSportsman.branch.$invalid && (regSportsman.branch.$dirty || isClicked)}" data-validate = "בחר ענף ">
        <label class="label" for="branchID">בחר ענף</label>
       <div> <input  id="branchT" type="radio" name="branch" ng-model="branch" value="טאולו" placeholder="ענף" required >  טאולו  </input>
        <input  type="radio" name="branch" ng-model="branch" value="סנדא" placeholder="ענף" required >  סנדא  </input></div>
        </div>


    <div id="sportclubs" class="validate-input" ng-class="{'alert-validate' : regSportsman.sportclub.$invalid && (regSportsman.sportclub.$dirty || isClicked)}" data-validate = "בחר מועדון ספורט">
        <select name="sportclub"  ng-model="sportclub" ng-option="x for x in sportclubs" required >
            <option value="" disabled="disabled">בחר מועדון ספורט</option>
        </select>
        <span class="focus-input100" data-placeholder="&#xf20c"></span>
    </div>
    <div id="coachChoose" class="validate-input" ng-class="{'alert-validate' : regSportsman.coach.$invalid && (regSportsman.coach.$dirty || isClicked)}" data-validate = "בחר מאמן">
        <select name="coach"  ng-model="coach" ng-option="x for x in coachs" required >
            <option value="" disabled="disabled">בחר מאמן</option>
        </select>
        <span class="focus-input100" data-placeholder="&#xf20c"></span>
    </div>

    <div ng-show="sportsmanRegister" class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.teamname.$invalid && (regSportsman.teamname.$dirty || isClicked)}" data-validate = "הכנס שם קבוצה ">
        <input class="input100" type="text" name="teamname" ng-model="teamname" placeholder="שם קבוצה" required >
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>



    <input type="submit" name="signup_submit" value="הירשם" />
</form>
    </div>
    <div class="left">
        <span class="loginwith">רשום באמצעות קובץ אקסל</span>
        <div class="dropzone" style="background-image: url('resources/images/upload1.jpg')"  id="dropzone" >גרור קובץ או לחץ על העלאת קובץ </div>
        <div style="margin-top: 10px" ><input  type="file" id="fileSportsman" ng-model="csvFile" onchange="angular.element(this).scope().ExcelExport(event)" style="display:block;margin-top: 5%"/>
        <label for="fileSportsman" /> העלאת קובץ</label>
        </div>

    </div>
    <div class="or">או</div>
</div>
</body>
