<div id="box">
    <h1>מצב הרישום</h1>

    <form class="login100-form validate-form" name="registrationState" ng-submit="submit(registrationState.$valid)" novalidate>
        <div>
        <a class="linkDark" href="" ng-click="addCategoeyModal">הוסף קטגוריה חדשה</a>
        </div>
        <br>
        <div ng-repeat="user in users track by $index" class="row">
            <label class="labelForInput100">{{$index+1}}. {{user.id}} {{user.firstname}} {{user.lastname}}</label>
            <div class="validate-input"
                 ng-class="{'alert-validate' : registrationState.category.$invalid && (registrationState.category.$touched || isClicked)}"
                 data-validate="בחר קטגוריה">
                <select name="selectedCategory" ng-model="selectedCategory" required ng-options="x.name for x in categories | categoryFilter : user">
                    <option value="" disabled="disabled">בחר קטגוריה</option>
                </select>
            </div>
        </div>

        <input type="submit" ng-click="isClicked=true" value="שמור"/>
    </form>

</div>