<head>
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
</head>
<body>
<div style="margin-top: 5%">
    <div id="chooseTypeUser">
        <input type="radio" name="userType" ng-click="coachReggister=false;downloadClicked=false"> רישום ספורטאי</input>
        <input type="radio" name="userType" ng-click="coachReggister=true;downloadClicked=false"> רישום מאמן </input>
    </div>
    <!--<div>
        <input type="checkbox" id="pure-toggle-3" hidden checked="checked" />
        <label class="pure-toggle wide" for="pure-toggle-3">
            <span class="fontawesome-ok"></span>
            <span class="fontawesome-remove"></span>
        </label>
    </div>    -->


    <div id="login-box">
        <div class="right" >
            <h1 ng-show="!coachReggister">רישום ספורטאי</h1>
            <h1 ng-show="coachReggister">רישום מאמן</h1>

    <form class="login100-form validate-form" name="regSportsman" novalidate>
            <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.id.$invalid && (regSportsman.id.$dirty || isClicked)}" data-validate = "הכנס תעודת זהות">
                <input class="input100" type="text" name="id" ng-model="id" placeholder="ת.ז" required>
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>
             <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.firstname.$invalid && (regSportsman.firstname.$dirty || isClicked)}" data-validate = "הכנס  שם הפרטי ">
                <input class="input100" type="text" name="firstname" ng-model="firstname" placeholder="שם פרטי" required>
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
             </div>
            <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.lastname.$invalid && (regSportsman.lastname.$dirty || isClicked)}" data-validate = "הכנס  שם המשפחה ">
                <input class="input100" type="text" name="lastname" ng-model="lastname" placeholder="שם משפחה" required>
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>
            <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.email.$invalid && (regSportsman.email.$dirty || isClicked)}" data-validate = "הכנס איימיל ">
                <input class="input100" type="email" name="email" ng-model="email" placeholder="איימיל" required>
                <span class="focus-input100" data-placeholder="&#xf159;"></span>
            </div>
            <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.birthdate.$invalid && (regSportsman.birthdate.$dirty || isClicked)}" data-validate = "הכנס תאריך לידה ">
                <input class="input100" type="date" name="date" ng-model="date" placeholder="תאריך לידה" required >
                <span class="focus-input100" data-placeholder="&#xf332;"></span>
            </div>
            <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.phone.$invalid && (regSportsman.phone.$dirty || isClicked)}" data-validate = "הכנס פאלפון ">
                <input class="input100" type="text" name="phone" ng-model="phone" placeholder="פאלפון" required >
                <span class="focus-input100" data-placeholder="&#xf2b6;"></span>
            </div>
            <div class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.address.$invalid && (regSportsman.address.$dirty || isClicked)}" data-validate = "הכנס כתובת ">
                <input class="input100" type="text" name="address" ng-model="address" placeholder="כתובת מגורים" required >
                <span class="focus-input100" data-placeholder="&#xf175;"></span>
            </div>

        <span style="position: relative" class="focus-input100" data-placeholder="&#xf211"></span>
        <div class="radioDiv" ng-show="!coachReggister" id="sexUser" class= "validate-input" ng-class="{'alert-validate' : regSportsman.branch.$invalid && (regSportsman.branch.$dirty || isClicked)}" data-validate = "בחר מין ">
            <label class="label" for="sexUser">בחר מין</label>
            <input  type="radio" name="sex" ng-model="sex" value="זכר"  required > זכר </input>
            <input  type="radio" name="sex" ng-model="sex" value="נקבה" required > נקבה </input>
        </div>
        <span style="position: relative" class="focus-input100" data-placeholder="&#xf187"></span>
        <div class="radioDiv"  id="branchID" class=" validate-input" ng-class="{'alert-validate' : regSportsman.branch.$invalid && (regSportsman.branch.$dirty || isClicked)}" data-validate = "בחר ענף ">
            <label class="label" for="branchID">בחר ענף</label>
           <div> <input  id="branchT" type="radio" name="branch" ng-model="branch" value="טאולו" placeholder="ענף" required >  טאולו  </input>
            <input  type="radio" name="branch" ng-model="branch" value="סנדא" placeholder="ענף" required >  סנדא  </input></div>
            </div>


        <div id="sportclubs" class="validate-input" ng-class="{'alert-validate' : regSportsman.sportclub.$invalid && (regSportsman.sportclub.$dirty || isClicked)}" data-validate = "בחר מועדון ספורט">
            <select name="sportclub"  ng-model="sportclub" ng-option="x for x in sportclubs" required >
                <option value="" disabled="disabled">בחר מועדון ספורט</option>
            </select>
            <span class="focus-input100" data-placeholder="&#xf20c"></span>
        </div>
        <div ng-show="!coachReggister" id="coachChoose" class="validate-input" ng-class="{'alert-validate' : regSportsman.coach.$invalid && (regSportsman.coach.$dirty || isClicked)}" data-validate = "בחר מאמן">
            <select name="coach"  ng-model="coach" required >
                <option value="" disabled="disabled"> בחר מאמן</option>
                <option ng-repeat="x in coaches track by $index" >{{x}}</option>
            </select>
            <span class="focus-input100" data-placeholder="&#xf205"></span>
        </div>

        <div ng-show="coachReggister" class="wrap-input100 validate-input" ng-class="{'alert-validate' : regSportsman.teamname.$invalid && (regSportsman.teamname.$dirty || isClicked)}" data-validate = "הכנס שם קבוצה ">
            <input class="input100" type="text" name="teamname" ng-model="teamname" placeholder="שם קבוצה" required >
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>



        <input type="submit" name="signup_submit" value="הירשם" />
    </form>
        </div>
        <div class="left">
            <h1 class="loginwith">
                רישום ע"י
                קובץ אקסל
            </h1>
            <div class="validate-input" ng-show="!coachReggister &&!downloadClicked">
                <a ng-click="downloadClicked=true" id="downExcelSportsman" style="line-height: 2.5;padding-right: 10%;font-size: initial;font-family: serif;" class="link"  href="http://localhost:3000/downloadExcelSportsman">הורד פורמט קובץ אקסל לרישום ספורטאי</a>
                <span class="focus-input100" data-placeholder="&#xf220"></span>
            </div>

            <div class="validate-input" ng-show="coachReggister">
                <a ng-click="downloadClicked=true" id="downExcelCoach" style="line-height: 2.5;line-height: 2.5;padding-right: 10%;font-size: initial;font-family: serif;" class="link"  href="http://localhost:3000/downloadExcelCoach"> הורד פורמט קובץ אקסל לרישום מאמן</a>
                <span class="focus-input100" data-placeholder="&#xf220"></span>
            </div>
            <div class="dropzone"  id="dropzone" > <label id="dropText">גרור קובץ או לחץ על העלאת קובץ</label>   </div>
            <div style="margin-top: 10px; text-align: center" >
                <label class="alink" id="changeExcel" style="display: none"> שנה </label>
                <input  type="file" id="fileSportsman" ng-model="csvFile" onchange="angular.element(this).scope().ExcelExport(event)" style="display:block;margin-top: 5%"/>
                <label for="fileSportsman" /> העלאת קובץ</label><br>
            </div>



            </div>
    </div>
    <div class="or">או</div>
</div>
</body>
