<head>
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
</head>
<body>

<div>
    <div id="chooseTypeUser" ng-show="access==userTypes.MANAGER">
        <input type="radio"  name="userType" ng-click="isRegisterCoach=false;downloadClicked=false" checked="checked"> רישום ספורטאי</input>
        <input type="radio"  name="userType" ng-click="isRegisterCoach=true;downloadClicked=false"> רישום מאמן </input>
    </div>
</div>


    <div id="box" style="height: 1250px">
        <div class="right">
            <h1 ng-show="!isRegisterCoach">רישום ספורטאי</h1>
            <h1 ng-show="isRegisterCoach">רישום מאמן</h1>

            <form class="login100-form validate-form" name="registerForm" ng-submit="submit(registerForm.$valid)" novalidate>

                <div class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.id.$invalid && (registerForm.id.$touched || isClicked)}"
                     data-validate="{{registerForm.id.$error.required ? 'הכנס ת.ז.' : (registerForm.id.$error.minlength || registerForm.id.$error.maxlength || registerForm.id.$error.pattern ? 'ת.ז. לא תקינה' : '')}}">
                    <span class="label-input100">ת.ז.</span>
                    <input class="input100" type="text" name="id" ng-model="id" placeholder="ת.ז"
                           ng-minlength="9" ng-maxlength="9" ng-required="true" ng-pattern="/^(\d)+$/">
                    <span class="focus-input100" data-symbol="&#xf207;"></span>
                </div>
                <div class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.firstname.$invalid && (registerForm.firstname.$touched || isClicked)}"
                     data-validate="{{registerForm.firstname.$error.required ? 'הכנס שם פרטי' : registerForm.firstname.$error.pattern ? 'שם פרטי לא תקין' : ''}}">
                    <span class="label-input100">שם פרטי</span>
                    <input class="input100" type="text" name="firstname" ng-model="firstname"
                           required ng-pattern="/^[\u0590-\u05fe]+$/">
                    <span class="focus-input100" data-symbol="&#xf207;"></span>
                </div>
                <div class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.lastname.$invalid && (registerForm.lastname.$touched || isClicked)}"
                     data-validate="{{registerForm.lastname.$error.required ? 'הכנס שם משפחה' : registerForm.lastname.$error.pattern ? 'שם משפחה לא תקין' : ''}}">
                    <span class="label-input100">שם משפחה</span>
                    <input class="input100" type="text" name="lastname" ng-model="lastname"
                           required ng-pattern="/^[\u0590-\u05fe]+$/">
                    <span class="focus-input100" data-symbol="&#xf207;"></span>
                </div>
                <div class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.email.$invalid && (registerForm.email.$touched || isClicked)}"
                     data-validate="{{registerForm.email.$error.required ? 'הכנס אימייל' : registerForm.email.$error.pattern ? 'אימייל לא תקין' : ''}}">
                    <span class="label-input100">אימייל</span>
                    <input class="input100" type="email" name="email" ng-model="email"
                           required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)+$/">
                    <span class="focus-input100" data-symbol="&#xf159;"></span>
                </div>
                <div class="wrap-input100 validate-input control-group input-append"
                     ng-class="{'alert-validate' : registerForm.date.$invalid && (registerForm.date.$touched || isClicked)}"
                     data-validate="{{registerForm.date.$error.required ? 'הכנס תאריך לידה' : registerForm.date.$error.max ? 'תאריך לא תקין' : ''}}" show-spinners="false">
                    <span class="label-input100">תאריך לידה</span>
                    <input class="input100" type="date" name="date" ng-model="birthdate" ng-max="currentDate" required>
                    <span class="focus-input100" data-symbol="&#xf332;"></span>
                </div>
                <div class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.phone.$invalid && (registerForm.phone.$touched || isClicked)}"
                     data-validate="{{registerForm.phone.$error.required ? 'הכנס פלאפון' : (registerForm.phone.$error.minlength || registerForm.phone.$error.maxlength || registerForm.phone.$error.pattern ? 'פלאפון לא תקין' : '')}}">
                    <span class="label-input100">פאלפון</span>
                    <input class="input100" type="text" name="phone" ng-model="phone"
                           required ng-minlength="10" ng-maxlength="10" ng-pattern="/^(\d)+$/">
                    <span class="focus-input100" data-symbol="&#xf2b6;"></span>
                </div>
                <div class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.address.$invalid && (registerForm.address.$touched || isClicked)}"
                     data-validate="הכנס כתובת">
                    <span class="label-input100">כתובת מגורים</span>
                    <input class="input100" type="text" name="address" ng-model="address"
                           required>
                    <span class="focus-input100" data-symbol="&#xf175;"></span>
                </div>
                <div class="wrap-input100 validate-input" id="sexUser" ng-show="!isRegisterCoach"
                     ng-class="{'alert-validate' : registerForm.selectedSex.$invalid && (registerForm.selectedSex.$touched || isClicked)}"
                     data-validate="בחר מין">
                    <label class="label-input100">מין</label>
                    <div class="radioDiv">
                    <span ng-repeat="sex in sexEnum" class="radioInput">
                        <input type="radio" name="selectedSex" ng-model="$parent.selectedSex" ng-required="!selectedSex && !isRegisterCoach" ng-value="sex.name"><label
                            class="radio_label"> {{sex.name}} </label></input>
                    </span>
                    </div>
                    <span class="focus-input100" data-symbol="&#xf211;"></span>
                </div>
                <div class="wrap-input100 validate-input" id="sportStyle"
                     ng-class="{'alert-validate' : registerForm.sportStyle.$invalid && (registerForm.sportStyle.$touched || isClicked)}"
                     data-validate="בחר ענף">
                    <label class="label-input100">ענף</label>
                    <div class="radioDiv">
                    <span ng-repeat="style in sportStyleEnum" class="radioInput">
                        <input type="radio" name="sportStyle" ng-model="$parent.sportStyle" ng-required="!sportStyle" ng-value="style.name"><label
                            class="radio_label"> {{style.name}} </label></input>
                    </span>
                    </div>
                    <span class="focus-input100" data-symbol="&#xf187;"></span>
                </div>
                <div id="sportclubs" class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.sportclub.$invalid && (registerForm.sportclub.$touched || isClicked)}"
                     data-validate="בחר מועדון ספורט">
                    <span class="label-input100">מועדון</span>
                    <select name="sportclub" ng-model="sportclub" required ng-options="x.name for x in clubs" ng-change="filterCoach()">
                        <option value="" disabled="disabled">בחר מועדון ספורט</option>
                    </select>
                    <span class="focus-input100" data-symbol="&#xf20c"></span>
                </div>
                <div ng-show="!isRegisterCoach" id="coachChoose" class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.coach.$invalid && (registerForm.coach.$touched || isClicked)}"
                     data-validate="בחר מאמן">
                    <span class="label-input100">מאמן</span>
                    <select name="coach" ng-model="coach" ng-required="!isRegisterCoach" ng-options="x.firstname + ' ' + x.lastname + ' ' for x in coaches" ng-change="filterClub()">
                        <option value="" disabled="disabled"> בחר מאמן</option>
                    </select>
                    <span class="focus-input100" data-symbol="&#xf205"></span>
                </div>
                <div ng-show="isRegisterCoach" class="wrap-input100 validate-input"
                     ng-class="{'alert-validate' : registerForm.teamname.$invalid && (registerForm.teamname.$touched || isClicked)}"
                     data-validate="הכנס שם קבוצה ">
                    <span class="label-input100">קבוצה</span>
                    <input class="input100" type="text" name="teamname" ng-model="teamname" ng-required="isRegisterCoach">
                    <span class="focus-input100" data-symbol="&#xf207;"></span>
                </div>

                <input type="submit" name="signup_submit" ng-click="isClicked=true" value="הירשם"/>
            </form>
        </div>
        <div class="left">
            <h1>
                רישום ע"י
                קובץ אקסל
            </h1>
            <div class="validate-input downloadLink" ng-show="!isRegisterCoach">
                <span class="focus-input100" data-symbol="&#xf220"></span>
                <a id="downExcelSportsman" class="linkDark" style="padding-right: 15px"
                href="http://localhost:3000/downloadExcelFormatSportsman" download>הורד פורמט קובץ אקסל לרישום ספורטאי</a>
            </div>
            <div class="validate-input downloadLink" ng-show="isRegisterCoach">
                <span class="focus-input100" data-symbol="&#xf220"></span>
                <a id="downExcelCoach" class="linkDark" style="padding-right: 15px"
                href="http://localhost:3000/downloadExcelFormatCoach" download> הורד פורמט קובץ אקסל לרישום מאמן</a>
            </div>

            <div class="dropzone" id="dropZoneRegisterUsers">
                <label id="dropText">גרור קובץ או לחץ על העלאת קובץ</label>
            </div>

            <div class="uploadBtn" ng-show="!isDropped">
                <input type="file" id="fileSportsman" ng-model="csvFile"
                       onchange="angular.element(this).scope().ExcelExport(event)"
                       style="display:block;margin-top: 5%"/>
                <label for="fileSportsman"/> העלאת קובץ</label><br>
            </div>
            <div class="uploadResultsPanel">
                <div class="error" ng-show="isDropped">
                    הרישום לא הצליח, הקובץ מכיל שגיאות
                    <div ng-repeat="errorSportsman in excelErrors" style="text-align: right">
                        <br>
                        בשורה מס' {{errorSportsman.line}}:
                        <div ng-repeat="error in errorSportsman.errors track by $index">
                            {{index+1}}. {{error}}
                        </div>
                    </div>
                </div>
                <a class="linkDark" id="changeExcel" ng-show="isDropped" href="" ng-click="uploadNewFile()"> העלה קובץ חדש </a>
            </div>

            <div>
                <input type="text" ng-model="errorText" disabled ng-show="resErr"></input>
            </div>

        </div>
    </div>
    <div class="or">או</div>
</div>
</body>
