<head>
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
</head>
<body>
<input>
    <input type="radio" name="userType" ng-click="sportsmanReg=true"> רישום ספורטאי </input>
    <input type="radio" name="userType" ng-click="sportsmanReg=false"> רישום מאמן </input>
<div style="width: 50%; float:left">
             <div class="wrap-login100">
                 <span>
                 <input  placeholder="רישום ספורטאים" type="file"  id="fileSportsman" ng-model="csvFile" onchange="angular.element(this).scope().ExcelExport(event)"/>
                 </span>
             </div>
    </div>

    <div style="width: 50%; float:right">
        <div class="wrap-login100">
            <form class="login100-form validate-form" ng-show="sportsmanReg">
                <span class="login100-form-title p-b-34 p-t-27">
						רישום ספורטאי
					</span>
                <div class="wrap-input100 validate-input" data-validate = "Enter idSportmans">
                    <input class="input100" type="text" ng-model="idSportsman" name="idSportsman" placeholder="ת.ז ספורטאי" >
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter firstname">
                    <input class="input100" type="text" ng-model="firstname"  name="firstname" placeholder="שם פרטי">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter lastname">
                    <input class="input100" type="text" ng-model="lastname" name="lastname" placeholder="שם משפחה">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter birthdate">
                    <input class="input100" type="date" style="text-align: right" ng-model="birthdate" name="birthdate" placeholder="תאריך לידה" >
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter phone">
                    <input class="input100" type="number" ng-model="phone" name="phone" placeholder="פאלפון">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter email">
                    <input class="input100" type="email" ng-model="email" name="email" placeholder="איימיל">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter address">
                    <input class="input100" type="text" ng-model="address" name="address" placeholder="כתובת מגורים">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter sportclub">
                    <input  class="input100" type="number" ng-model="sportclub" name="sportclub" placeholder="מספר מועדון">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter idCoach">
                    <input class="input100" type="text" ng-model="idCoach" name="idCoach" placeholder="תעודת זהות מאמן">
                    <span class="focus-input100" data-placeholder="&#xf190;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                            הירשם
                    </button>
                </div>
            </form>
            <form ng-show="!sportsmanReg">
                 <span class="login100-form-title p-b-34 p-t-27">
						רישום מאמן
					</span>
                <div class="wrap-input100 validate-input" data-validate = "Enter idCoach">
                    <input class="input100" type="text" ng-model="idSportsman" name="idCoach" placeholder="ת.ז ספורטאי" >
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>



            </form>
        </div>
    </div>

</div>
</body>