<div id="box" style="height: 850px; width: 1100px;">
    <div class="right">
        <h1>
            בחירת ספורטאיים לרישום
            <br>
            לקטגוריה -
            <div class="validate-input"
                 ng-class="{'alert-validate' : !selectedCategory, 'visible-alert-validate' : !selectedCategory}"
                 data-validate="בחר קטגוריה">
                <select class="searchInput" name="selectedCategory" ng-model="selectedCategory"
                        ng-options="x.name
                        for
                        x in categories" ng-change="setPage(1); filterSelectedLists()">
                    <option value="" disabled="disabled">בחר קטגוריה</option>
                </select>
            </div>
        </h1>

        <div class="filtersItemListPanel">
            <div ng-init="searchClicked=false" style="width: 300px">
                <input class="searchInput" type="text" placeholder="חפש..." ng-model="searchText"
                       ng-change="searchClicked=false" style="width: auto;">
                <button ng-click="setPage(1); searchClicked=true" ng-show="searchClicked==false">
                    <i class="fa fa-search clickableSearch" style="left: 45px" aria-hidden="true"></i>
                </button>
                <button ng-click="searchText=''; setPage(1); searchClicked=false" ng-show="searchClicked==true">
                    <i class="fa fa-times clickableSearch" style="left: 45px" aria-hidden="true"></i>
                </button>
            </div>
            <select ng-show="access==userTypes.MANAGER" class="searchInput" style="min-width: 0px; width: 100%;" name="selectedClub" ng-model="selectedClub"
                    ng-options="x.name
                    for
                    x in clubs" ng-change="setPage(1)">
                <option value="">כל המועדונים</option>
            </select>
        </div>
        <div class="flexCenteredDiv">
            <div>
                <label>בחירת ספורטאיים:</label>
                <div class="itemListPanel">
                    <table class="tableUser" cellspacing="0">
                        <tr>
                            <th class="thInItemList">ת.ז.</th>
                            <th class="thInItemList">שם מלא</th>
                        </tr>
                        <tr class="itemInItemList"
                            ng-repeat="user in notRegisteredUsers | sportsmenByCategoryFilter : selectedCategory : registeredUsers | sportsmenByClubFilter : selectedClub"
                            ng-class="{'active' : selectedNotRegisteredUsers.includes(user)}"
                            ng-click="selectNotRegistered(user)">
                            <td class="tdInItemList">{{user.id}}</td>
                            <td class="tdInItemList">{{user.firstname}} {{user.lastname}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="arrowDiv">
                <button ng-click="unRegisterSelected()" style="display: block;">
                    <i class="fa fa-arrow-right clickableSearch squreClickable" style="border-radius: 0px;"
                       aria-hidden="true"></i>
                </button>
                <button ng-click="registerSelected()">
                    <i class="fa fa-arrow-left clickableSearch squreClickable" style="border-radius: 0px;"
                       aria-hidden="true"></i>
                </button>
            </div>
            <div>
                <label>ספורטאיים להרשמה לקטגוריה{{selectedCategory ? '-' : ''}}{{selectedCategory.name}}:</label>
                <div class="itemListPanel">
                    <table class="tableUser" cellspacing="0">
                        <tr>
                            <th class="thInItemList">ת.ז.</th>
                            <th class="thInItemList">שם מלא</th>
                        </tr>
                        <tr class="itemInItemList" ng-class="{'active' : selectedRegisteredUsers.includes(user)}"
                            ng-repeat="user in registeredUsers | sportsmenCategoriesByCategoryFilter : selectedCategory | sportsmenByClubFilter : selectedClub"
                            ng-click="selectRegistered(user)">
                            <td class="tdInItemList">{{user.id}}</td>
                            <td class="tdInItemList">{{user.firstname}} {{user.lastname}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 2px;"><!--ng-show="pager.totalPages>1"-->
            <!-- pager -->
            <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{'disabled':pager.currentPage === 1}">
                    <a ng-click="setPage(1)">ראשון</a>
                </li>
                <li ng-class="{'disabled':pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)">הקודם</a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{'numberBtn' : true, 'active' : pager.currentPage===page}"
                    ng-click="setPage(page)">
                    {{page}}
                </li>
                <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)">הבא</a>
                </li>
                <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)">אחרון</a>
                </li>
            </ul>
        </div>
        <div class="center">
            <input type="submit" ng-class="{'disabled' : toRegisterUsers.length==0 && toUnRegisterUsers.length==0}"
                   ng-click="register()"
                   ng-disabled="toRegisterUsers.length==0 && toUnRegisterUsers.length==0"
                   value="שמירה עבור כל הקטגוריות"/>
        </div>
    </div>
    <!--    <div class="or">או</div>-->
    <div class="left">
        <h1>
            רישום ע"י
            קובץ אקסל
        </h1>
        <div class="downloadLink">
            <i class="fa fa-arrow-down" style="text-decoration: underline" aria-hidden="true"></i>
            <a id="downExcelRegCompetition" class="linkDark" href="" download> הורד פורמט קובץ אקסל לרישום ספורטאים לתחרות</a>
        </div>

        <div class="center">
        <div class="dropzone" id="dropZoneRegCompetition">
            <label id="dropText">גרור קובץ או לחץ על העלאת קובץ</label>
        </div>
        </div>

        <div class="uploadResults">
            <label id="ansExcel" style="display: none;"> </label>
            <a class="linkdark" id="changeExcel" style="display: none" href=""> העלה קובץ חדש </a>
        </div>

        <div class="uploadBtn">
            <input type="file" id="fileSportsman" ng-model="csvFile"
                   onchange="angular.element(this).scope().ExcelExport(event)"
                   style="display:block;margin-top: 5%"/>
            <label for="fileSportsman"> העלאת קובץ</label><br>
        </div>


    </div>
</div>
<!--<button class="btn btn-primary" ng-click="close()">סגור חלון</button>-->
