<body>

<div id="box">
    <h1>{{title}}</h1>
    <div ng-show="isEvent" class="center">
        <h6>אם ברצונך לפתוח אירוע תחרות אנא לחץ
        <a class="linkDark iLink"  href="#!competitions/addCompetition" >כאן</a></h6>
    </div>
    <form class="centered-form validate-form" name="openCompetitionForm" ng-submit="submit(openCompetitionForm.$valid)"
          novalidate>
        <div class="wrap-input100 validate-input" ng-show="!isEvent"
             ng-class="{'alert-validate' : openCompetitionForm.description.$invalid && (openCompetitionForm.description.$touched || isClicked)}"
             data-validate="{{openCompetitionForm.description.$error.required ? 'הכנס תיאור.' : openCompetitionForm.$error.pattern ? 'הכנס תיאור בשפה העברית' : ''}}">
            <span class="label-input100">תיאור</span>
            <input class="input100" type="text" name="description" ng-model="description"
                   ng-required="!isEvent" ng-pattern="regex.regexHebrewAndNumbers" ng-pattern-restrict>
            <span class="focus-input100" data-symbol="&#xf25d;"></span>
        </div>
        <div class="wrap-input100 validate-input" ng-show="isEvent"
             ng-class="{'alert-validate' : openCompetitionForm.type.$invalid && (openCompetitionForm.type.$touched || isClicked)}"
             data-validate="{{openCompetitionForm.type.$error.required ? 'הכנס סוג אירוע' : openCompetitionForm.$error.pattern ? 'הכנס טקסט בשפה העברית' : ''}}">
            <span class="label-input100">סוג אירוע</span>
            <input class="input100" type="text" name="type" ng-model="type" required="isEvent"
                   ng-pattern="regex.regexHeb" ng-pattern-restrict>
            <span class="focus-input100" data-symbol="&#xf187;"></span>
        </div>
        <div class="timedateDiv">
            <div class="wrap-input100 validate-input control-group input-append"
                 ng-class="{'alert-validate' : openCompetitionForm.date.$invalid && (openCompetitionForm.date.$touched || isClicked)}"
                 data-validate="{{openCompetitionForm.date.$error.required ? 'הכנס תאריך האירוע' : openCompetitionForm.date.$error.min ? 'הוזן תאריך עבר' : ''}}"
                 show-spinners="false">
                <span class="label-input100">תאריך האירוע</span>
                <input class="input100" type="date" name="date" ng-model="date"
                       ng-change="regCloseDate=date; regCloseTime=date;" placeholder="תאריך האירוע" ng-min="currentDate"
                       required>
                <span class="focus-input100" data-symbol="&#xf332;"></span>
            </div>
            <div class="wrap-input100 validate-input control-group input-append"
                 ng-class="{'alert-validate' : openCompetitionForm.time.$invalid && (openCompetitionForm.time.$touched || isClicked)}"
                 data-validate="{{openCompetitionForm.time.$error.required ? 'הכנס שעת האירוע' : ''}}"
                 show-spinners="false">
                <span class="label-input100">שעת האירוע</span>
                <input class="input100" id='temp' type="time" name="time" ng-model="time" placeholder="שעת האירוע"
                       required>
            </div>
        </div>
        <div class="timedateDiv" ng-show="!isEvent">
            <div class="wrap-input100 validate-input control-group input-append"
                 ng-class="{'alert-validate' : openCompetitionForm.regCloseDate.$invalid && (openCompetitionForm.regCloseDate.$touched || isClicked)}"
                 data-validate="{{openCompetitionForm.regCloseDate.$error.required ? 'הכנס תאריך סגירת הרישום' : openCompetitionForm.regCloseDate.$error.min ? 'הוזן תאריך עבר' : openCompetitionForm.regCloseDate.$error.max ? 'סגירת הרישום לא יכולה להתבצע לאחר תאריך התחרות': ''}}"
                 show-spinners="false">
                <div>
                    <!--                            <label class="label">תאריך סגירת הרישום</label>-->
                    <span class="label-input100">תאריך סגירת הרישום</span>
                    <input class="input100" type="date" name="regCloseDate" ng-model="regCloseDate"
                           placeholder="תאריך סגירת הרישום" ng-min="currentDate" ng-max="date" required>
                    <span class="focus-input100" data-symbol="&#xf332;"></span>
                </div>
            </div>
            <div class="wrap-input100 validate-input control-group input-append"
                 ng-class="{'alert-validate' : openCompetitionForm.regCloseTime.$invalid && (openCompetitionForm.regCloseTime.$touched || isClicked)}"
                 data-validate="{{openCompetitionForm.regCloseTime.$error.required ? 'הכנס שעת סגירת הרישום' : ''}}"
                 show-spinners="false">
                <div>
                    <!--                            <label class="label">שעת סגירת הרישום</label>-->
                    <span class="label-input100">שעת סגירת הרישום</span>
                    <input class="input100" type="time" name="regCloseTime" ng-model="regCloseTime"
                           placeholder="שעת סגירת הרישום" required>
                </div>
            </div>
        </div>
        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : openCompetitionForm.location.$invalid && (openCompetitionForm.location.$touched || isClicked)}"
             data-validate="{{openCompetitionForm.location.$error.required ? 'הכנס כתובת.' : openCompetitionForm.$error.pattern ? 'הכנס כתובת בשפה העברית' : ''}}">
            <span class="label-input100">כתובת</span>
            <input class="input100" type="text" name="location" ng-model="location" required
                   ng-pattern="regex.regexHebrewAndNumbers" ng-pattern-restrict>
            <span class="focus-input100" data-symbol="&#xf175;"></span>
        </div>
        <div class="wrap-input100 validate-input"
             ng-class="{'alert-validate' : openCompetitionForm.city.$invalid && (openCompetitionForm.city.$touched || isClicked)}"
             data-validate="{{openCompetitionForm.city.$error.required ? 'הכנס עיר' : openCompetitionForm.$error.pattern ? 'הכנס עיר בשפה העברית' : ''}}">
            <span class="label-input100">עיר</span>
            <input class="input100" type="text" name="city" ng-model="city" required
                   ng-pattern="regex.regexHeb" ng-pattern-restrict>
            <span class="focus-input100" data-symbol="&#xf175;"></span>
        </div>
        <div class="wrap-input100 validate-input" id="sportStyle" ng-show="!isEvent"
             ng-class="{'alert-validate' : openCompetitionForm.sportStyle.$invalid && (openCompetitionForm.sportStyle.$touched || isClicked)}"
             data-validate="בחר ענף">
            <label class="label-input100">ענף</label>
            <div class="radioDiv">
                    <span ng-repeat="style in sportStyleEnum" class="radioInput">
                        <input type="radio" name="sportStyle" ng-model="$parent.sportStyle" ng-required="!isEvent && !sportStyle" ng-value="style.name"><label
                            class="radio_label"> {{style.name}} </label></input>
                    </span>
            </div>
            <span class="focus-input100" data-symbol="&#xf187;"></span>
        </div>

        <div style="text-align: center">
        <input type="submit" name="signup_submit" ng-click="isClicked=true" value="{{isEvent ? 'פתח אירוע' : 'פתח תחרות'}}"/>
        </div>
    </form>
</div>
</div>
</body>
