<div id="box">
    <form name="updateProfile" class="login100-form validate-form" ng-submit="submit(updateProfile.$valid)" novalidate>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="././resources/images/symbol.jpg" alt=""/>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-head">
                    <h5>
                        {{::amuta.name}}
                    </h5>
                    <h6>
                        {{whoAmI}}
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='basicData'"
                               ng-class="{'active' : activeTag==='basicData' || activeTag===undefined}">פרטים בסיסים
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div ng-show="access==userTypes.MANAGER">
                    <i class="fa fa-pencil iColored" aria-hidden="true"></i>
                    <a class="linkDark iLink" href="" ng-click="isEditModeOn = !isEditModeOn">{{isEditModeOn ? 'ביטול עריכה' : 'ערוך עמותה'}}</a>
                </div>
                <div>
                    <i class="fa fa-trash-o iColored" aria-hidden="true"></i>
                    <a class="linkDark iLink" href="" ng-click="delProfile(amuta.id)">מחק עמותה</a>
                </div>
                <!--div ng-show="access!=userTypes.SPORTSMAN">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <input class="linkDark iLink" aria-hidden="true" type="button" value="שנה תמונה" ng-click="btnPressed()" style="background: none"/>
                    <input type="file"  id="profilePicUpload" ngf-select  name="file" ngf-pattern="'image/'" accept="image/" ngf-max-size="20MB" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                </div-->
            </div>
            
            <div class="col-md-9">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade"
                         ng-class="{'show' : activeTag==='basicData' || activeTag===undefined , 'active' : activeTag==='basicData' || activeTag===undefined}"
                         id="basicData" role="tabpanel" aria-labelledby="compData">
                         <div class="row" ng-show="amuta.id || isEditModeOn">
                            <div class="col-md-3">
                                <label>מספר העמותה</label>
                            </div>
                            <div class="col-md-6">
                                <label >{{amuta.id}}</label>
                                
                            </div>
                        </div>
                         <div class="row" ng-show="amuta.name || isEditModeOn">
                            <div class="col-md-3">
                                <label>שם העמותה</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{amuta.name}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.amutaName.$invalid && (updateProfile.amutaName.$touched || isClicked)}"
                                     data-validate="{{updateProfile.amutaName.$error.required ? 'הכנס שם עמותה' : updateProfile.amutaName.$error.pattern ? 'שם עמותה לא תקין' : ''}}">
                                    <input class="update-input100" type="text" name="amutaName"
                                           ng-model="amuta.name" placeholder="שם עמותה"
                                           required >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade"
                         ng-class="{'show' : activeTag==='amutaStat' , 'active' : activeTag==='amutaStat'}" id="amutaStat"
                         role="tabpanel" aria-labelledby="compData">
                        <nvd3 options='amutaSportsmanParticipateCompOptions' data='amutaSportsmanParticipateCompData'></nvd3>
                    </div>

                </div>
            </div>
        </div>
        <input ng-show="isEditModeOn" type="submit" name="updateProfileBtn" ng-click="isClicked=true"
               value="עדכן פרופיל"/>

    </form>
</div>
