<div id="box" ng-init="forbidenDelClicked =false ;changeCoach =false">
    <form name="updateProfile" class="login100-form validate-form" ng-submit="submit(updateProfile.$valid)" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img ng-src="{{user.photo}}" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{::user.firstname}} {{::user.lastname}}
                    </h5>
                    <h6>
                        {{whoAmI}}
                    </h6>
                    <p ng-show="(access==userTypes.MANAGER || access==userTypes.COACH) && sportsmanRank" class="proile-rating">דירוג : <span>{{sportsmanRank |number:1}}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='personalData'"
                               ng-class="{'active' : activeTag==='personalData' || activeTag===undefined}">פרטים
                                אישיים</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='attachments'" ng-class="{'active' : activeTag==='attachments'}" ng-show="userType == userTypes.SPORTSMAN || userType == userTypes.Judge">קבצים מצורפים</a>
                        </li>
                        <li class="nav-item" ng-show="userType == userTypes.SPORTSMAN">
                            <a class="nav-link" data-toggle="tab" href="" role="tab" ng-click="activeTag='compData'" ng-class="{'active' : activeTag==='compData'}">מידע תחרויות</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div ng-show="access!=userTypes.SPORTSMAN && !changeCoach">
                    <i class="fa fa-pencil iColored" aria-hidden="true"></i>
                    <a class="linkDark iLink" href="" ng-click="isEditModeOn = !isEditModeOn" >{{isEditModeOn ? 'ביטול עריכת פרופיל' : 'ערוך פרופיל'}}</a>
                </div>
                <div id="chCoach" ng-show="(access==userTypes.MANAGER ||access==userTypes.COACH )&&!isEditModeOn && userType == userTypes.SPORTSMAN" >
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <a  class="linkDark iLink" href="" ng-click="getCoachData(user.clubId);changeCoach = !changeCoach" >{{changeCoach ? 'ביטול החלפת מאמן' : 'החלף מאמן'}}</a>
                </div>
                <!--            <div ng-show="access==userTypes.MANAGER || access==userTypes.COACH">-->
                <!--                <i class="fa fa-chain-broken iColored" aria-hidden="true"></i>-->
                <!--                <a class="linkDark iLink" href="">החלפת מאמן</a>-->
                <!--            </div>-->
                <div ng-show="access!=userTypes.SPORTSMAN">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <input class="linkDark iLink" aria-hidden="true" type="button" value="שנה תמונה" ng-click="btnPressed()" style="background: none"/>
                    <input type="file"  id="profilePicUpload" ngf-select  name="file" ngf-pattern="'image/'" accept="image/" ngf-max-size="20MB" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                </div>
                <div id="delLink" ng-show="(access==userTypes.MANAGER || (access==userTypes.COACH && userType == userTypes.SPORTSMAN))&&!forbidenDelClicked" >
                    <i class="fa fa-trash-o iColored" aria-hidden="true"></i>
                    <a  class="linkDark iLink" href="" ng-click="isDeletable ?delProfile(user.id):forbidenDelClicked=true" >מחק פרופיל</a>

                </div>
                <label class="error" ng-show="forbidenDelClicked">*לא ניתן למחוק מאמן כל עוד יש ספורטאים שמשוייכים אליו</label>

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade"
                         ng-class="{'show' : activeTag==='personalData' || activeTag===undefined , 'active' : activeTag==='personalData' || activeTag===undefined}"
                         id="personalData" role="tabpanel" aria-labelledby="compData">
                        <div class="row">
                            <div class="col-md-3">
                                <label>תעודת זהות</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{getIdInLengthNine(user.id)}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.id.$invalid && (updateProfile.id.$touched || isClicked)}"
                                     data-validate="{{updateProfile.id.$error.required ? 'הכנס ת.ז.' : (updateProfile.id.$error.minlength || updateProfile.id.$error.maxlength || updateProfile.id.$error.pattern ? 'ת.ז. לא תקינה' : '')}}">
                                    <input class="update-input100" type="text" name="id"
                                           ng-model="user.id"
                                            ng-minlength="9" ng-maxlength="9" ng-required="true" ng-pattern="regex.regexOnlyNumbers" ng-pattern-restrict>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>שם פרטי</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.firstname}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.firstname.$invalid && (updateProfile.firstname.$touched || isClicked)}"
                                     data-validate="{{updateProfile.firstname.$error.required ? 'הכנס שם פרטי' : updateProfile.firstname.$error.pattern ? 'שם פרטי לא תקין' : ''}}">
                                    <input class="update-input100" type="text" name="firstname"
                                           ng-model="user.firstname" placeholder="שם פרטי"
                                           required ng-pattern="regex.regexHeb" ng-pattern-restrict>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>שם משפחה</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.lastname}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.lastname.$invalid && (updateProfile.lastname.$touched || isClicked)}"
                                     data-validate="{{updateProfile.lastname.$error.required ? 'הכנס שם משפחה' : updateProfile.lastname.$error.pattern ? 'שם משפחה לא תקין' : ''}}">
                                    <input class="update-input100" type="text" name="lastname" ng-model="user.lastname"
                                           placeholder="שם משפחה"
                                           required ng-pattern="regex.regexHeb" ng-pattern-restrict>
                                </div>
                            </div>
                        </div>
                        <div id="profileSex" class="row" ng-if="eWhoAmI!='coach' && eWhoAmI!='referee'">
                            <div class="col-md-3">
                                <label>מין</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.sex}}</label>
                                <div ng-show="isEditModeOn" class="update-input" id="sexUser"
                                     ng-class="{'alert-validate' : updateProfile.selectedSex.$invalid && (updateProfile.selectedSex.$touched || isClicked)}"
                                     data-validate="בחר מין">
                                <span ng-repeat="sex in sexEnum" radioInput>
                                    <input type="radio" name="selectedSex" ng-model="user.sex"
                                           ng-required="!selectedSex" ng-value="sex.name"><label
                                        class="radio_label"> {{sex.name}} </label></input>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div id="profileBirthDate" class="row" ng-if="eWhoAmI!='referee'">
                            <div class="col-md-3">
                                <label>תאירך לידה</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.birthdate | date : 'dd/MM/yyyy'}}</label>
                                <div ng-show="isEditModeOn" class="update-input control-group input-append"
                                     ng-class="{'alert-validate' : updateProfile.date.$invalid && (updateProfile.date.$touched || isClicked)}"
                                     data-validate="{{updateProfile.date.$error.required ? 'הכנס תאריך לידה' : updateProfile.date.$error.max ? 'תאריך לא תקין' : ''}}"
                                     show-spinners="false">
                                    <input class="update-input100" type="date" name="date" ng-model="user.birthdate"
                                           placeholder="תאריך לידה" ng-max="currentDate" required onkeypress="return false">
                                </div>
                            </div>
                        </div>
                        <div id="profileAddress" class="row" ng-if="eWhoAmI!='referee'">
                            <div class="col-md-3">
                                <label>כתובת</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.address}} {{user.city}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.address.$invalid && (updateProfile.address.$touched || isClicked)}"
                                     data-validate="{{updateProfile.address.$error.required ? 'הכנס כתובת' : (updateProfile.address.$error.pattern ? 'כתובת לא תקינה' : '')}}">
                                    <input class="update-input100" type="text" name="address" ng-model="user.address"
                                           placeholder="כתובת מגורים"
                                           required ng-pattern="regex.regexHebrewAndNumbers" ng-pattern-restrict>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>טלפון</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.phone}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.phone.$invalid && (updateProfile.phone.$touched || isClicked)}"
                                     data-validate="{{updateProfile.phone.$error.required ? 'הכנס פלאפון' : (updateProfile.phone.$error.minlength || updateProfile.phone.$error.maxlength || updateProfile.phone.$error.pattern ? 'פלאפון לא תקין' : '')}}">
                                    <input class="update-input100" type="text" name="phone" ng-model="user.phone"
                                           placeholder="פאלפון"
                                           required ng-minlength="10" ng-maxlength="10"
                                           ng-pattern="regex.regexOnlyNumbers" ng-pattern-restrict>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>אימייל</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.email}}</label>
                                <div ng-show="isEditModeOn" class="update-input"
                                     ng-class="{'alert-validate' : updateProfile.email.$invalid && (updateProfile.email.$touched || isClicked)}"
                                     data-validate="{{updateProfile.email.$error.required ? 'הכנס אימייל' : updateProfile.email.$error.pattern ? 'אימייל לא תקין' : ''}}">
                                    <input class="update-input100-link" type="email" name="email" ng-model="user.email"
                                           placeholder="איימיל"
                                           ng-pattern="regex.regexEmail">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="user.sportStyle">
                            <div class="col-md-3">
                                <label>ענף</label>
                            </div>
                            <div class="col-md-6">
                                <label ng-show="!isEditModeOn">{{user.sportStyle}}</label>
                                <div ng-show="isEditModeOn" class="update-input" id="sportStyleUser"
                                     ng-class="{'alert-validate' : updateProfile.selectedSportStyle.$invalid && (updateProfile.selectedSportStyle.$touched || isClicked)}"
                                     data-validate="בחר ענף">
                                <span ng-repeat="sportStyle in sportStyleEnum" radioInput>
                                    <input type="radio" name="selectedSportStyle" ng-model="user.sportStyle"
                                           ng-required="!selectedSportStyle" ng-value="sportStyle.name"><label
                                        class="radio_label"> {{sportStyle.name}} </label></input>
                                </span>
                                </div>
                            </div>
                        </div>
                        <!--<br ng-show="user.sportStyle">-->
                        <div id="profileSportClub" class="row" ng-show="user.club">
                            <div class="col-md-3">
                                <label>מועדון ספורט</label>
                            </div>
                            <div class="col-md-6">
                                <label>{{user.club}}</label>
                            </div>
                        </div>
                        <div class="row" ng-show="user.cfirstname">
                            <div class="col-md-3">
                                <label>מאמן</label>
                            </div>
                            <div class="col-md-6" ng-show="!changeCoach">
                                <label>{{user.cfirstname}} {{user.clastname}}</label>
                            </div>
                            <div class="col-md-6" ng-show="changeCoach && access != userTypes.SPORTSMAN ">
                                <select name="coach" ng-model="coach" ng-options="x.firstname + ' ' + x.lastname + ' '
                                for
                                    x in coaches ">
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-if="eWhoAmI=='referee' || eWhoAmI=='coach'">
                            <div class="col-md-3">
                                <label>הערות</label>
                            </div>
                            <div class="col-md-6" >
                                <label ng-show="!isEditModeOn">{{user.comment}}</label>
                                <div ng-show="isEditModeOn" class="update-input">
                                    <input class="update-input100" type="text" name="comment"
                                        ng-model="user.comment" placeholder="הערות">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="eWhoAmI=='referee' || eWhoAmI=='coach'">
                            <div class="col-md-3" ng-show="isEditModeOn">
                                <label>פייסבוק - אתר מלא</label>
                            </div>
                            <div class="col-md-6" >
                                <div ng-show="isEditModeOn" class="update-input">
                                    <input class="update-input100-link" type="text" name="facebook"
                                        ng-model="user.facebook" placeholder="www.facebook.com/username">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="eWhoAmI=='referee' || eWhoAmI=='coach'">
                            <div class="col-md-3" ng-show="isEditModeOn">
                                <label>אינסטגרם - אתר מלא</label>
                            </div>
                            <div class="col-md-6" >
                                <div ng-show="isEditModeOn" class="update-input">
                                    <input class="update-input100-link" type="text" name="instagram"
                                        ng-model="user.instagram" placeholder="www.instagram.com/username">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="eWhoAmI=='referee' || eWhoAmI=='coach'">
                            <div class="col-md-3" ng-show="isEditModeOn">
                                <label>קישור נוסף - אתר מלא</label>
                            </div>
                            <div class="col-md-6" >
                                <div ng-show="isEditModeOn" class="update-input">
                                    <input class="update-input100-link" type="text" name="anotherLink"
                                        ng-model="user.anotherLink">
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <a id="facebookProfile" target="_blank" href="https://{{user.facebook}}" class="fa fa-facebook" ng-show=user.facebook></a>
                        <a id="facebookProfile" target="_blank" href="https://{{user.instagram}}" class="fa fa-instagram" ng-show=user.instagram></a>
                        <a id="facebookProfile" target="_blank" href="https://{{user.anotherLink}}" class="fa fa-link" ng-show=user.anotherLink></a>
                        <!--Documents here-->
                    </div>

                    <div class="tab-pane fade"
                         ng-class="{'show' : activeTag==='attachments' , 'active' : activeTag==='attachments'}"
                         id="attachments" role="tabpanel" aria-labelledby="attachments">
                        <div ng-show="userType == userTypes.SPORTSMAN">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>אישור רפואי</label>
                                </div>
                                <div class="col-md-6">
                                    <div ng-show="!user.medicalScan">לא קיים קובץ במערכת</div>
                                    <iframe class="iframeFile" id="medicalScanIframe" ng-show="user.medicalScan"></iframe>
                                    <div style="margin-top: -10px">
                                        <input ng-show="access==userTypes.MANAGER" class="linkDark iLink" aria-hidden="true" type="button" ng-value="user.medicalScan ? 'שנה קובץ' : 'הוסף קובץ'" ng-click="sportsmanFileUpload('medicalScan')" style="padding: 0"/>
                                        <a id="downSportsmanMedicalScan" class="linkDark" aria-hidden="true" ng-show="user.medicalScan" type="button" ng-click="sportsmanFileDownload(user.medicalScan,'medicalScan')" href="" download>הורד</a>
                                        <input id="medicalScanUpload" type="file" ngf-select name="file" ngf-pattern="'image/'" accept="image/" ngf-max-size="20MB" onchange="angular.element(this).scope().uploadMedicalScanHealthInsurance(this.files,'medicalScan')"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-md-2">
                                <label>ביטוח בריאות</label>
                            </div>
                            <div class="col-md-6">
                                <div ng-show="!user.insurance">לא קיים קובץ במערכת</div>
                                <iframe class="iframeFile" id="insuranceIframe" ng-show="user.insurance"></iframe>
                                <div style="margin-top: -10px">
                                    <input ng-show="access==userTypes.MANAGER" class="linkDark iLink" aria-hidden="true" type="button" ng-value="user.insurance ? 'שנה קובץ' : 'הוסף קובץ'" ng-click="sportsmanFileUpload('healthInsurance')" style="padding: 0"/>
                                    <a id="downSportsmanHealthInsurance" class="linkDark" aria-hidden="true" ng-show="user.insurance" type="button" ng-click="sportsmanFileDownload(user.medicalScan,'healthInsurance')" href="" download>הורד</a>
                                    <input id="medicalInsuranceUpload" type="file" ngf-select name="file" ngf-pattern="'image/'" accept="image/" ngf-max-size="20MB" onchange="angular.element(this).scope().uploadMedicalScanHealthInsurance(this.files,'healthInsurance')"/>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div ng-show="userType == userTypes.Judge">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>רישום פלילי</label>
                                </div>
                                <div class="col-md-6">
                                    <div ng-show="!user.criminalRecord">לא קיים קובץ במערכת</div>
                                    <iframe id="criminalRecordIframe" ng-show="user.criminalRecord"></iframe>
                                    <div style="margin-top: -10px">
                                        <input class="linkDark iLink" aria-hidden="true" type="button" ng-value="user.criminalRecord ? 'שנה קובץ' : 'הוסף קובץ'" ng-click="judgeFileUpload('criminalRecord')" style="padding: 0"/>
                                        <a id="downCriminalRecord" class="linkDark" aria-hidden="true" ng-show="user.criminalRecord" type="button" ng-click="judgeFileDownload(user.criminalRecord,'criminalRecord')" href="" download>הורד</a>
                                        <input id="criminalRecordUpload" type="file" ngf-select name="file" ngf-pattern="'image/'" accept="image/" ngf-max-size="20MB" onchange="angular.element(this).scope().uploadCriminalRecord(this.files,'criminalRecord')"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         ng-class="{'show' : activeTag==='compData' , 'active' : activeTag==='compData'}" id="compData"
                         role="tabpanel" aria-labelledby="compData">
                        <v-accordion class="vAccordion--default" multiple>
                            <v-pane>
                                <v-pane-header>
                                    אחוזי השתתפות בתחרויות
                                </v-pane-header>
                                <v-pane-content>
                                    <div class="row">
                                        <nvd3 options='participateCompetitionsOptions' data='participateCompetitionsData'></nvd3>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane>
                                <v-pane-header>
                                    גרף ציונים סופיים לעונה
                                </v-pane-header>
                                <v-pane-content>
                                    <div class="row">
                                        <nvd3 options='sportsmanCompetitionsGradesOptions' data='sportsmanCompetitionsGradesData'></nvd3>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane>
                                <v-pane-header>
                                    גרף ציוני שופטים בעונה
                                </v-pane-header>
                                <v-pane-content>
                                        עבור הקטגוריה:
                                        <div class="wrap-input100" style="width: 300px">
                                            <select ng-model="selectedCategoryForJudgeGradesChart" style="padding: 0px"
                                                    ng-options="x.name
                                                     for
                                                      x in categoriesForJudgeGradesChart" ng-change="setSportsmanJudgeGradesChartData(selectedCategoryForJudgeGradesChart)"></select>
                                        </div>
                                        <br>
                                        <nvd3 options='sportsmanJudgesGradesOptions' data='sportsmanJudgesGradesData'></nvd3>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </div>
            </div>
        </div>
        <input ng-show="isEditModeOn || changeCoach" type="submit" name="updateProfileBtn" ng-click="isClicked=true"
               value="עדכן פרופיל"/>

    </form>
</div>
