<div ng-repeat="pass in [{'userType':'sportsman'}]" ng-include="'views/competitionRegistrationView/regCompetition.html'"></div>
<div id="box" style="width: 80%;" class="flexBox">
    <div class="right" style="width: auto">
        <h1>
            רישום ספורטאיים לתחרות
        </h1>
        <div style="width: 550px">
            <div class="center">
                <div ng-init="searchClicked=false" ng-keydown="$event.keyCode === 13 && setPage(1); searchClicked=true">
                    <input class="searchInput" type="text" placeholder="חפש..." ng-model="searchText"
                           ng-change="searchClicked=false">
                    <button ng-click="setPage(1); searchClicked=true" ng-show="searchClicked==false">
                        <i class="fa fa-search clickableSearch" style="left: 45px" aria-hidden="true"></i>
                    </button>
                    <button ng-click="searchText=''; setPage(1); searchClicked=false" ng-show="searchClicked==true">
                        <i class="fa fa-times clickableSearch" style="left: 45px" aria-hidden="true"></i>
                    </button>
                </div>
                <select ng-show="access==userTypes.MANAGER" class="searchInput" name="selectedClub"
                        ng-model="selectedClub"
                        ng-options="x.name
                    for
                    x in clubs" ng-change="setPage(1)">
                    <option value="">כל המועדונים</option>
                </select>
            </div>
        </div>
        <br>

        <table cellspacing="0">
            <tr>
                <th></th>
                <th class="thInItemList">ת.ז.</th>
                <th class="thInItemList">שם מלא</th>
                <th class="thInItemList">מין</th>
                <th class="thInItemList">גיל</th>
                <th class="thInItemList" colspan="3">קטגוריה</th>
            </tr>
            <tr ng-repeat="user in users track by $index">
                <td class="tdInItemList">{{pager.startIndex+$index+1}}.</td>
                <td class="tdInItemList">{{user.id}}</td>
                <td class="tdInItemList">{{user.firstname}} {{user.lastname}}</td>
                <td class="tdInItemList">{{user.sex}}</td>
                <td class="tdInItemList">{{user.age}}</td>

                <td ng-repeat="category in user.selectedCategories track by $index">
                    <div class="tdInItemList" style="display: flex">
                        <div>
                            <i class="fa fa-minus clickableSearch little"
                               ng-style="{'visibility': user.selectedCategories[$index] || $index > 0 ? 'visible' : 'hidden'}"

                               ng-click="addToToUnRegisterUsers(user, user.selectedCategories[$index],$index)"
                               aria-hidden="true"></i>
                        </div>
                        <select mbsc-dropdown mobiscroll-select="desktopFilterSettings"
                                ng-focus="oldValue=user.selectedCategories[$index]"
                                ng-model="user.selectedCategories[$index]" class="littleSelect"
                                ng-change="addToToRegisterUsers(user, user.selectedCategories[$index],'{{user.selectedCategories[$index]}}',$index)"
                                ng-options="x.name + '\n' + getAgeRange(x)
                                         for
                                         x in categories | categoryBySportsmanFilter : user : user.selectedCategories.slice(0, $index) : true">
                            <option value="" disabled="disabled">בחר קטגוריה</option>
                        </select>
                    </div>
                </td>
                <td ng-show="user.selectedCategories.length<3" style="text-align: right;">
                    <button>
                        <i class="fa fa-plus clickableSearch"
                           ng-click="user.selectedCategories.push(undefined)" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </table>

        <div style="width: 550px">
            <div style="margin-top: 2px;" class="center" ng-show="pager.totalPages>1">
                <!-- pager -->
                <ul ng-if="pager.pages.length" class="pagination">
                    <li ng-class="{'disabled':pager.currentPage === 1}">
                        <a ng-click="setPage(1)">ראשון</a>
                    </li>
                    <li ng-class="{'disabled':pager.currentPage === 1}">
                        <a ng-click="setPage(pager.currentPage - 1)">הקודם</a>
                    </li>
                    <li ng-repeat="page in pager.pages"
                        ng-class="{'numberBtn' : true, 'active' : pager.currentPage===page}"
                        ng-click="setPage(page)">
                        {{page}}
                    </li>
                    <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.currentPage + 1)">הבא</a>
                    </li>
                    <li ng-class="{'disabled':pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.totalPages)">אחרון</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <input type="submit" ng-class="{'disabled' : toRegisterUsers.length==0 && toUnRegisterUsers.length==0 && toUpdateRegisterUsers.length==0}"
                       ng-click="register()"
                       ng-disabled="toRegisterUsers.length==0 && toUnRegisterUsers.length==0 && toUpdateRegisterUsers.length==0"
                       value="שמור"/>
            </div>
        </div>
    </div>
    <!--    <div class="or">או</div>-->
    <div class="left" style="position: absolute; direction: ltr">
        <h1>
            רישום ספורטאיים לתחרות<br>באמצעות
            קובץ אקסל
        </h1>
        <div class="downloadLink">
            <i class="fa fa-arrow-down" style="text-decoration: underline" aria-hidden="true"></i>
            <a id="downExcelRegCompetition" ng-click="downloadExcelRegCompetition()" class="linkDark" href="" download>
                הורד פורמט קובץ אקסל לרישום ספורטאים לתחרות</a>
        </div>

        <div class="center">
            <div class="dropzone" id="dropZoneRegCompetition">
                <label id="dropText">{{isDropped ? filename : "גרור קובץ או לחץ על העלאת קובץ"}}</label>
            </div>
        </div>

        <div class="uploadBtn" ng-show="!isDropped">
            <input type="file" id="fileSportsman" ng-model="csvFile"
                   onchange="angular.element(this).scope().ExcelExport(event)"
                   style="display:block;margin-top: 5%"/>
            <label for="fileSportsman"> העלאת קובץ</label><br>
        </div>
        <div class="uploadResultsPanel">
            <div class="error" ng-show="isDropped && excelErrors.length > 0">
                הרישום לא הצליח, הקובץ מכיל שגיאות
                <div ng-repeat="errorSportsman in excelErrors" style="text-align: right">
                    <br>
                    <div ng-show="errorSportsman.id">
                    עבור ת.ז. {{errorSportsman.id}}:
                    </div>
                    {{errorSportsman.error}}
                </div>
            </div>
            <a class="linkDark" id="changeExcel" ng-show="isDropped" href="" ng-click="uploadNewFile()"> העלה קובץ
                חדש </a>
        </div>


    </div wid>
</div>
