<div id="box" style="width: 60%">
    <h1>תחרות - {{currentCompetition.description}}</h1>

    <div class="center">
        <div class="verticalLine threePartsScreenDiv">
            <h5>כעת מופיע</h5>
            <br>
            <h6>
                <b>ספורטאי:</b>
                {{currentSportsman.firstname}} {{currentSportsman.lastname}}
            </h6>
        </div>

        <div style="display: grid" class="verticalLine threePartsScreenDiv">
            <h5>הזן ציון לספורטאי</h5>
            <br>
            <div style="text-align: right; justify-content: center; display: grid;">
                <h6>
                    <b>קטגוריה:</b>
                    {{currentCategory.name}} {{getAgeRange(currentCategory)}}
                </h6>
                <h6>
                    <b>ספורטאי:</b>
                    {{currentSportsman.firstname}} {{currentSportsman.lastname}}
                </h6>
                <div class="wrap-input100 validate-input" style="width: 200px">
                    <span class="label-input100">ציון: </span>
                    <input class="input100" type="text" name="grade" ng-model="grade"
                           ng-required="true" ng-pattern="regex.regexOnlyDouble">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>

        <div class="threePartsScreenDiv">
            <h5>ציונים סופיים</h5>
            <br>
            <h6>
                <b>קטגוריה:</b>
                {{currentCategory.name}} {{getAgeRange(currentCategory)}}
            </h6>

        </div>
    </div>

    <div style="margin-top: 10px">
        <input type="submit" ng-class="{'disabled' : disableButtonNext}"
               ng-click="nextSportsman()"
               ng-disabled="disableButtonNext"
               value="לספורטאי הבא"/>

        <i class="fa fa-male" aria-hidden="true" ng-repeat="judge in judges" style="font-size: x-large; padding: 5px;" ng-style="{'color': judge.isGraded ? 'black' : 'lightGray'}" data-toggle="tooltip" data-placement="right" title="{{judge.firstname}} {{judge.lastname}}"></i>
    </div>
</div>
