<div id="box">
    <h1>תחרות - {{currentCompetition.description}}</h1>

    <div class="center">
        <div class="verticalLine threePartsScreenDiv">
            <h5>סדר התחרות</h5>
            <br>
            <div class="centerButTextRight">
                <h6 ng-repeat="categorySportsman in sportsmanQueue" ng-if="$index >= currentCategoryIndex">
                    <b>קטגוריה: {{getAgeRange(categorySportsman.category)}} {{currentCategory.name}}</b>
                    <div ng-repeat="sportsman in categorySportsman.users" ng-if="$index >= currentSportsmanIndex">
                        {{sportsman.firstname}} {{sportsman.lastname}}
                    </div>
                    <br>
                </h6>
            </div>
        </div>

        <div class="verticalLine threePartsScreenDiv">
            <h5>הזן ציון לספורטאי</h5>
            <br>
            <div ng-show="lastSportsman">
                התחרות הסתיימה
            </div>
            <div class="centerButTextRight" ng-show="!lastSportsman">
                <h6>
                    <b>קטגוריה:</b>
                    {{currentCategory.name}} {{getAgeRange(currentCategory)}}
                </h6>
                <h6>
                    <b>ספורטאי:</b>
                    {{currentSportsman.firstname}} {{currentSportsman.lastname}}
                </h6>
                <div ng-form name="gradeForm" class="wrap-input100-black validate-input"
                     style="width: 200px;"
                     ng-class="{'alert-validate' : gradeForm.grade.$invalid}"
                     data-validate="{{gradeForm.grade.$error.pattern ? 'ציון לא תקין' : ''}}">
                    <span class="label-input100">ציון: </span>
                    <input class="input100" type="text" name="grade" ng-model="grade"
                           ng-pattern="regex.regexForCompetitionGrade">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>

        <div class="threePartsScreenDiv">
            <h5>ציונים סופיים</h5>
            <br>
            <div ng-if="currentCategoryIndex != 0">
                <h6>
                    <b>קטגוריה:</b>
                    {{sportsmanQueue[currentCategoryIndex-1].category.name}}
                    {{getAgeRange(sportsmanQueue[currentCategoryIndex-1].category)}}
                </h6>
                <table class="tableUser" cellspacing="0">
                    <tr>
                        <th class="thInItemList">ת.ז.</th>
                        <th class="thInItemList">שם מלא</th>
                        <th class="thInItemList" ng-repeat="judge in judges" ng-show="isMaster">ציון-{{judge.firstname}}</th>
                        <th class="thInItemList" ng-show="isMaster">ציון שופט ראשי</th>
                        <th class="thInItemList">ציון סופי</th>
                        <th class="thInItemList" ng-show="isMaster"></th>
                    </tr>
                    <tr
                        ng-repeat="(key, sportsman) in sportsmanGrade.get(sportsmanQueue[currentCategoryIndex-1].category.id) | fromMap">
                    <td class="tdInItemList">{{sportsman.id}}</td>
                    <td class="tdInItemList">{{sportsman.firstname}} {{sportsman.lastname}}</td>
                        <td class="tdInItemList" ng-repeat="judge in judges" ng-show="isMaster">
                            <div ng-show="sportsman.isSaved">
                                {{sportsman.judgeGrades[judge.idJudge]}}
                            </div>
                            <div ng-form name="ladtCategoryJudgesGradeForm" class="validate-input" ng-show="!sportsman.isSaved"
                                 style="width: 70px; margin-bottom: 0px;"
                                 ng-class="ladtCategoryJudgesGradeForm.grade.$invalid ? 'simpleInvalidInput' : 'wrap-input100-black'">
                                <input class="input100" style="padding: 0px; text-align: center; height: auto"
                                       type="text" name="grade" ng-model="sportsman.judgeGrades[judge.idJudge]"
                                       ng-change="reCalcFinalGrade(sportsmanQueue[currentCategoryIndex-1].category, sportsman)"
                                       ng-pattern="regex.regexForCompetitionGrade" ng-required="true">
                                <span class="focus-input100"></span>
                            </div>
                        </td>
                        <td class="tdInItemList" ng-show="isMaster">
                            <div ng-show="sportsman.isSaved">
                                {{sportsman.masterGrade}}
                            </div>
                            <div ng-form name="lastCategoryMasterGradeForm" class="validate-input" ng-show="!sportsman.isSaved"
                                 style="width: 70px; margin-bottom: 0px;"
                                 ng-class="lastCategoryMasterGradeForm.grade.$invalid ? 'simpleInvalidInput' : 'wrap-input100-black'">
                                <input class="input100" style="padding: 0px; text-align: center; height: auto"
                                       type="text" name="grade" ng-model="sportsman.masterGrade"
                                       ng-change="reCalcFinalGrade(sportsmanQueue[currentCategoryIndex-1].category, sportsman)"
                                       ng-pattern="regex.regexForCompetitionGrade" ng-required="true">
                                <span class="focus-input100"></span>
                            </div>
                        </td>
                        <td class="tdInItemList">{{sportsman.finalGrade ? (sportsman.finalGrade | number : 2) : '-'}}</td>
                        <td class="tdInItemList" ng-show="isMaster">
                            <div ng-show="sportsman.isSaved" style="color: green">
                                נשמר
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </div>
                            <div ng-show="!sportsman.isSaved">
                                <input type="submit"
                                       ng-class="{'disabled' : isDisableSaveButton(sportsmanQueue[currentCategoryIndex-1].category, sportsman)}"
                                       ng-click="saveGrades(sportsman,sportsmanQueue[currentCategoryIndex-1].category)" style="padding: 9px 10px;"
                                       ng-disabled="isDisableSaveButton(sportsmanQueue[currentCategoryIndex-1].category, sportsman)"
                                       value="אשר"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div ng-if="currentCategoryIndex < sportsmanQueue.length">
                <h6>
                    <b>קטגוריה:</b>
                    {{currentCategory.name}} {{getAgeRange(currentCategory)}}
                </h6>
                <table class="tableUser" cellspacing="0">
                    <tr>
                        <th class="thInItemList">ת.ז.</th>
                        <th class="thInItemList">שם מלא</th>
                        <th class="thInItemList" ng-repeat="judge in judges" ng-show="isMaster">ציון-{{judge.firstname}}</th>
                        <th class="thInItemList" ng-show="isMaster">ציון שופט ראשי</th>
                        <th class="thInItemList">ציון סופי</th>
                        <th class="thInItemList" ng-show="isMaster"></th>
                    </tr>
                    <tr
                            ng-repeat="(key, sportsman) in sportsmanGrade.get(currentCategory.id) | fromMap track by $index">
                        <td class="tdInItemList">{{sportsman.id}}</td>
                        <td class="tdInItemList">{{sportsman.firstname}} {{sportsman.lastname}}</td>
                        <td class="tdInItemList" ng-repeat="judge in judges" ng-show="isMaster">
                            <div ng-show="sportsman.isSaved">
                                {{sportsman.judgeGrades[judge.idJudge]}}
                            </div>
                            <div ng-form name="judgesGradeForm" class="validate-input" ng-show="!sportsman.isSaved && $index <= currentSportsmanIndex && sportsman.judgeGrades[judge.idJudge]"
                                 style="width: 70px; margin-bottom: 0px;"
                                 ng-class="judgesGradeForm.grade.$invalid ? 'simpleInvalidInput' : 'wrap-input100-black'">
                                <input class="input100" style="padding: 0px; text-align: center; height: auto"
                                       type="text" name="grade" ng-model="sportsman.judgeGrades[judge.idJudge]"
                                       ng-change="reCalcFinalGrade(currentCategory, sportsman)"
                                       ng-pattern="regex.regexForCompetitionGrade" ng-required="true">
                                <span class="focus-input100"></span>
                            </div>
                            <div ng-show="!sportsman.isSaved && $index >= currentSportsmanIndex && !sportsman.judgeGrades[judge.idJudge]">-</div>
                        </td>
                        <td class="tdInItemList" ng-show="isMaster">
                            <div ng-show="sportsman.isSaved">
                                {{sportsman.masterGrade}}
                            </div>
                            <div ng-form name="masterGradeForm" class="validate-input" ng-show="!sportsman.isSaved && $index < currentSportsmanIndex"
                                 style="width: 70px; margin-bottom: 0px;"
                                 ng-class="masterGradeForm.grade.$invalid ? 'simpleInvalidInput' : 'wrap-input100-black'">
                                <input class="input100" style="padding: 0px; text-align: center; height: auto"
                                       type="text" name="grade" ng-model="sportsman.masterGrade"
                                       ng-change="reCalcFinalGrade(currentCategory, sportsman)"
                                       ng-pattern="regex.regexForCompetitionGrade" ng-required="true">
                                <span class="focus-input100"></span>
                            </div>
                            <div ng-show="!sportsman.isSaved && $index >= currentSportsmanIndex">-</div>
                        </td>
                        <td class="tdInItemList">{{sportsman.finalGrade ? (sportsman.finalGrade | number : 2) : '-'}}</td>
                        <td class="tdInItemList" ng-show="isMaster">
                            <div ng-show="sportsman.isSaved" style="color: green">
                                נשמר
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </div>
                            <div ng-show="!sportsman.isSaved">
                                <input type="submit"
                                       ng-class="{'disabled' : isDisableSaveButton(currentCategory, sportsman)}"
                                       ng-click="saveGrades(sportsman,currentCategory)" style="padding: 9px 10px;"
                                       ng-disabled="isDisableSaveButton(currentCategory, sportsman)"
                                       value="אשר"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px">
        <input type="submit" ng-class="{'disabled' : disableButtonNext || !grade}"
               ng-show="currentCategoryIndex < sportsmanQueue.length-1 || currentSportsmanIndex < sportsmanQueue[currentCategoryIndex].users.length-1"
               ng-click="nextSportsman()"
               ng-disabled="disableButtonNext || !grade"
               value="לספורטאי הבא"/>
        <input type="submit" ng-class="{'disabled' : disableButtonNext || !grade}"
               ng-show="currentCategoryIndex == sportsmanQueue.length-1 && currentSportsmanIndex == sportsmanQueue[currentCategoryIndex].users.length-1 && !lastSportsman"
               ng-click="sendGrade(true); lastSportsman = true"
               ng-disabled="disableButtonNext || !grade"
               value="שלח ציון"/>
        <input type="submit" ng-class="{'disabled' : !isAllGradesApproved()}"
               ng-show="lastSportsman && isMaster"
               ng-click="closeCompetition()"
               ng-disabled="!isAllGradesApproved()"
               value="סגור תחרות"/>

        <i class="fa fa-male" aria-hidden="true" ng-repeat="judge in judges" style="font-size: x-large; padding: 5px;"
           ng-style="{'color': judge.isGraded ? 'green' : 'lightGray'}" data-toggle="tooltip" data-placement="right"
           title="{{judge.firstname}} {{judge.lastname}}"></i>
    </div>
</div>
